include ../infographic/infographic

mixin section-infographic()
	section.section-infographic&attributes(attributes)
		+container()
			+infographic()
			+picture-webp().section-infographic__image(
				src="../../images/design/infographic.png"
				srcset="2x"
			)
