.section-infographic {
	overflow: hidden;

	&:not(:last-child) {
		margin-bottom: 100rem;
	}

	@include media-breakpoint-down(lg) {
		&:not(:last-child) {
			margin-bottom: 70rem;
		}
	}
}

.section-infographic__image {
	display: block;
	margin-top: 45rem;
	width: 100%;

	@include media-breakpoint-down(lg) {
		margin-top: 20rem;
	}
}
