.button-expand {
	@include button;

	column-gap: 15rem;
	font-weight: 700;
	font-size: 16rem;
	line-height: 1.25;
	color: $color-primary;

	@include hover {
		&:not(:disabled, .is-disabled) {
			color: $color-primary-hover;
		}
	}

	&--dir-up {
		.button-expand__icon {
			transform: rotateX(180deg);
		}
	}

	@include media-breakpoint-down(lg) {
		column-gap: 10rem;
		font-size: 14rem;
	}
}

.button-expand__content {
	overflow: hidden;
	text-overflow: ellipsis;
}

.button-expand__icon {
	flex-shrink: 0;
	width: 25rem;
	height: 25rem;

	@include media-breakpoint-down(lg) {
		width: 20rem;
		height: 20rem;
	}
}
