mixin button-expand({tag = 'a', dir = 'down', content} = {})
	#{tag}.button-expand(
		class={'button-expand--up': dir === 'up'}
		type=tag === 'button' ? 'button' : null
		href=tag === 'a' ? "" : null
	)&attributes(attributes)
		span.button-expand__content(x-text=content)
		icon-svg.button-expand__icon(name="arrow-down")
