mixin pagination({multipage = true, buttonLoadContent = "'Загрузить еще'"} = {})
	.pagination(x-data="pagination")&attributes(attributes)
		.pagination__error(
			x-show="error"
			x-text="error"
		)

		if multipage
			nav.pagination__multipage.hidden-lg-down
				+button-arrow({
					tag: 'a',
					dir: 'left',
				}).pagination__button.is-disabled

				.pagination__group
					span.pagination__item.is-active 1
					a.pagination__item(href="") 2
					a.pagination__item(href="") 3
					a.pagination__item(href="") 4
					a.pagination__item(href="") 5
					span.pagination__item.pagination__item--hellip &hellip;
					a.pagination__item(href="") 18

				+button-arrow({tag: 'a'}).pagination__button

		+button-load({content: buttonLoadContent})(
			class={'hidden-lg-up': multipage}
			x-bind:class="{'is-loading': isLoading}"
			x-bind:disabled="isLoading"
			x-on:click="load"
		)
