.pagination {
	&:not(:first-child) {
		margin-top: var(--gap-xl);
	}
}

.pagination__error {
	margin-bottom: 15rem;
	font-weight: 700;
}

.pagination__multipage {
	display: flex;
	column-gap: var(--gap);
	align-items: center;
	cursor: default;
	user-select: none;

	@include media-breakpoint-down(lg) {
		margin-top: 30rem;
	}
}

.pagination__button {
	flex-shrink: 0;
}

.pagination__group {
	display: flex;
	flex-flow: wrap;
	margin: 0 auto;
	gap: 10rem;
}

.pagination__item {
	padding: 0 17rem;
	font-weight: 700;
	font-size: 20rem;
	line-height: 27rem;
	color: var(--color);
	transition: color;
	transition-duration: var(--transition-duration);

	@include hover {
		&:not(.pagination__item--hellip, .is-active) {
			color: var(--color-primary);
		}
	}

	&.is-active {
		color: var(--color-primary);
	}

	&--hellip {
		margin: 0 -30rem;
	}
}
