.pagination {
	&:not(:first-child) {
		margin-top: var(--gap-xl);
	}
}

.pagination__error {
	margin-bottom: 15rem;
	font-weight: 700;
}

.pagination__multipage {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: default;
	user-select: none;
	gap: var(--gap);

	@include media-breakpoint-down(lg) {
		margin-top: 30rem;
	}
}

.pagination__button {
	flex-shrink: 0;
	width: 64rem;
	height: 27rem;
	color: $color;
	transition: color;
	transition-duration: $transition-duration;

	icon-svg {
		height: 100%;
		transition: transform;
		transition-duration: inherit;
	}

	@include hover {
		&:not(.is-disabled) {
			color: $color-primary;

			icon-svg[name="arrow-left"] {
				transform: translate(-$arrow-hover-translate);
			}

			icon-svg[name="arrow-right"] {
				transform: translate($arrow-hover-translate);
			}
		}
	}

	&.is-disabled {
		color: $color-disabled;
	}
}

.pagination__group {
	display: flex;
	flex-flow: wrap;
	gap: 10rem;
}

.pagination__item {
	padding: 0 17rem;
	font-weight: 700;
	font-size: 20rem;
	line-height: 27rem;
	color: $color;
	transition: color;
	transition-duration: $transition-duration;

	@include hover {
		&:not(.pagination__item--hellip, .is-active) {
			color: $color-primary;
		}
	}

	&.is-active {
		color: $color-primary;
	}

	&--hellip {
		margin: 0 -30rem;
	}
}
