.price {
	--icon-size: 25rem;

	display: inline-flex;
	column-gap: 10rem;
	align-items: center;
	vertical-align: top;
	max-width: 100%;
	font-family: $heading-font-family;
	font-weight: 700;
	font-size: 30rem;
	line-height: 1;
	white-space: nowrap;
	color: $color;
	cursor: default;

	&::before {
		@include conic-gradient;

		content: "";
		flex-shrink: 0;
		border-radius: 50%;
		width: var(--icon-size);
		height: var(--icon-size);
	}

	@include media-breakpoint-down(lg) {
		--icon-size: 15rem;

		font-size: 20rem;
	}
}
