extends ../../pug/base

include ../../components/header/header
include ../../components/footer/footer

include ../../components/gallery-slider/gallery-slider
include ../../components/cards/cards
include ../../components/section-feedback/section-feedback

include ../../components/subsection-section/subsection-section
include ../../components/subsection/subsection
include ../../components/section-about/section-about

append variables
	-
		title = `${title} - О проекте`;

block app
	+header()

	main.app__main
		+section-about({advanced: true})
			+subsection({
				offsetColumn: 'center',
				title: 'О портале',
			})
				+content()
					p.
						Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
						молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
						Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
						молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
						Это информационно-познавательный портал для молодёжи.

					+img-2x()(src="../../images/content/article/img-5.jpg")

					p.
						Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
						молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
						Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
						молодёжной политики во всех актуальных и действующих направлениях данной отрасли.

					+img-2x()(src="../../images/content/article/img-6.jpg")

					p.
						Новгородской области, занимающийся реализацией молодёжной политики во всех актуальных
						и действующих направлениях данной отрасли.

					+img-2x()(src="../../images/content/article/img-7.jpg")

					h3 Цели и задачи портала
					ul
						li.
							30 октября в Батецком районе будет дан старт областному походу по местам боевых
							сражений. К нему присоединятся активисты военно-патриотических клубов, центров,
							объединений и представители поисковых отрядов Новгородской области.
						li.
							Поход продлится до 1 ноября и будет посвящен боевому пути 1-й Ленинградской
							стрелковой дивизии народного ополчения, которая в июле 1941 года высадилась
							на станции Батецкая и заняла оборону на Лужском рубеже.
						li.
							В первый день участники познакомятся с виртуальной экспозицией, посвященной 1-й
							Кировской дивизии народного ополчения, посетят Исторический памятник
							древнеславянской культуры «Шум-Гора».

				+gallery-slider([
					'../../images/content/gallery-slider/img-3.jpg',
					'../../images/content/gallery-slider/img-1.jpg',
					'../../images/content/gallery-slider/img-2.jpg',
				])

				+content()
					h3 Наша деятельность сегодня
					p.
						Это информационно-познавательный портал для молодёжи Новгородской области,
						занимающийся реализацией молодёжной политики во всех актуальных и действующих
						направлениях данной отрасли.
						Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся
						реализацией молодёжной политики во всех актуальных и действующих направлениях данной
						отрасли.
						Это информационно-познавательный портал для молодёжи.
					p.
						Новгородской области, занимающийся реализацией
						молодёжной политики во всех актуальных и действующих
						направлениях данной отрасли.

					+video({caption: 'Это информационно-познавательный портал для молодёжи Новгородской области'})

			+container().hidden-lg-down
				+picture-webp().section-about__image-4(
					src="../../images/design/section-about/img-4.png"
					srcset="2x"
				)

			+subsection({title: 'Команда'})
				+cards({
					type: 'team',
					slice: 6,
					pagination: false,
				})

			+section-feedback()

	+footer()
