extends ../../pug/base

include ../../components/header/header
include ../../components/footer/footer

include ../../components/section-promo/section-promo
include ../../components/section-feedback/section-feedback

include ../../components/subsection-section/subsection-section
include ../../components/subsection/subsection
include ../../components/section/section

append variables
	-
		title = `${title} - О проекте`;

block app
	+header()

	main.app__main
		+section-promo({advanced: true})
			+subsection({
				offsetColumn: 'center',
				title: 'О портале',
			})
			+section-feedback()

	+footer()
