.projects__swiper {
	overflow: hidden;

	@include media-breakpoint-down(lg) {
		margin-right: calc(-1 * var(--container-content-offset-x));
	}
}

.projects__swiper-container {
	margin: 0 -15rem;

	@include media-breakpoint-down(lg) {
		margin: 0;
	}
}

.projects__item {
	margin: 0 15rem;
	width: calc(25% - 30rem);
	height: auto;

	@include media-breakpoint-down(lg) {
		margin: 0 20rem 0 0;
		width: 265rem;
	}
}
