include ../card-item/card-item

mixin projects()
	-
		const projects = [
			{
				title: 'Кадры будущего для регионов',
				image: '../../images/content/projects/img-1.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-2.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Кадры будущего для регионов',
				image: '../../images/content/projects/img-3.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-4.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
		];

	.projects&attributes(attributes)
		.container
			.projects__swiper(
				x-data="swiperCards"
				x-effect="effect"
			)
				.swiper.projects__swiper-container(x-ref="swiper")
					.swiper-wrapper
						each projectItem in projects
							+card-item(projectItem).card-item--project.swiper-slide.projects__item
