.integration {
	&:not(:first-child) {
		margin-top: var(--gap-xl);
	}

	&:not(:last-child) {
		margin-bottom: var(--gap-xl);
	}

	.app__main > & {
		&:last-child {
			margin-top: var(--app--main-gap-bottom);
		}
	}
}

.integration__body {
	display: block;

	@include media-breakpoint-down(lg) {
		margin: 0 calc(-1 * var(--content-offset));
	}
}

.integration__image {
	display: block;
	width: 100%;
}
