.integration {
	--margin-y: 50rem;

	&:not(:first-child) {
		margin-top: var(--margin-y);
	}

	&:not(:last-child) {
		margin-bottom: var(--margin-y);
	}
}

.integration__body {
	display: block;

	@include media-breakpoint-down(lg) {
		margin: 0 calc(-1 * var(--container-gap));
	}
}

.integration__image {
	display: block;
	width: 100%;
}
