.integration {
	&:not(:first-child) {
		margin-top: var(--grid-gap-lg);
	}

	&:not(:last-child) {
		margin-bottom: var(--grid-gap-lg);
	}
}

.integration__body {
	display: block;

	@include media-breakpoint-down(lg) {
		margin: 0 calc(-1 * var(--container-gap));
	}
}

.integration__image {
	display: block;
	width: 100%;
}
