-
	const data = {};

	data.projects = [
		{
			title: 'Кадры будущего для регионов',
			image: '../../images/content/projects/img-1.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Конкурс среди образовательных организаций высшего образования очень-очень длинный заголовок',
			image: '../../images/content/projects/img-2.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр очень-очень длинный заголовок',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Кадры будущего для регионов',
			image: '../../images/content/projects/img-3.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Конкурс среди образовательных организаций высшего образования',
			image: '../../images/content/projects/img-4.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Кадры будущего для регионов',
			image: '../../images/content/projects/img-3.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Конкурс среди образовательных организаций высшего образования',
			image: '../../images/content/projects/img-4.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Кадры будущего для регионов',
			image: '../../images/content/projects/img-1.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Конкурс среди образовательных организаций высшего образования очень-очень длинный заголовок',
			image: '../../images/content/projects/img-2.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр очень-очень длинный заголовок',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Кадры будущего для регионов',
			image: '../../images/content/projects/img-1.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Конкурс среди образовательных организаций высшего образования очень-очень длинный заголовок',
			image: '../../images/content/projects/img-2.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр очень-очень длинный заголовок',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Кадры будущего для регионов',
			image: '../../images/content/projects/img-3.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Конкурс среди образовательных организаций высшего образования',
			image: '../../images/content/projects/img-4.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Кадры будущего для регионов',
			image: '../../images/content/projects/img-3.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Конкурс среди образовательных организаций высшего образования',
			image: '../../images/content/projects/img-4.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Кадры будущего для регионов',
			image: '../../images/content/projects/img-1.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр',
				image: '../../images/content/projects/logo.png',
			},
		},
		{
			title: 'Конкурс среди образовательных организаций высшего образования очень-очень длинный заголовок',
			image: '../../images/content/projects/img-2.jpg',
			organizer: {
				title: 'Ресурсный Молодежный центр очень-очень длинный заголовок',
				image: '../../images/content/projects/logo.png',
			},
		},
	];

	data.grants = data.contests = data.projects;
