.infographic {
	overflow: hidden;
	margin-left: -60rem;
	padding-left: 60rem;

	&.has-swiper {
		margin-right: calc(-1 * var(--container-content-offset-x));
		padding-right: var(--container-content-offset-x);

		&:not(.infographic--inner) {
			margin-left: calc(-1 * var(--container-content-offset-x));
			padding-left: var(--container-content-offset-x);
		}
	}

	@include media-breakpoint-up(lg) {
		&--inner {
			--gap: 25rem;

			.infographic__item {
				flex-basis: calc((100% - var(--gap)) / 2);
			}

			&.has-swiper {
				.infographic__item {
					flex-basis: calc(50% - var(--gap));
				}
			}
		}
	}

	@include media-breakpoint-down(lg) {
		margin-left: -56rem;
		padding-left: 56rem;
	}
}

.infographic__body {
	overflow: visible;

	&.swiper {
		margin: 0 calc(-0.5 * var(--gap));
	}
}

.infographic__grid {
	&:not(.swiper-wrapper) {
		display: flex;
		flex-flow: wrap;
		gap: var(--gap);
	}
}

.infographic__item {
	position: relative;
	display: flex;
	flex-basis: var(--column-5);
	flex-flow: column;
	border-bottom: 1px solid var(--color);
	padding: 51rem 0 12rem;
	cursor: default;

	&::before {
		content: "";
		position: absolute;
		left: -60rem;
		top: 0;
		z-index: -1;
		border: div(134 - 52, 2) * 1rem solid $color-white;
		border-radius: 50%;
		width: 134rem;
		height: 134rem;
	}

	&:not(.swiper-slide) {
		flex-grow: 1;
	}

	&.swiper-slide {
		margin: 0 calc(0.5 * var(--gap));
		width: auto;
		height: auto;
	}

	@include media-breakpoint-down(lg) {
		flex-basis: var(--column-6);
		padding: 35rem 0 4rem;

		&::before {
			left: -56rem;
			border-width: div(94 - 36, 2) * 1rem;
			width: 94rem;
			height: 94rem;
		}
	}

	@include media-breakpoint-down(md) {
		flex-basis: var(--column-8);
	}

	@include media-breakpoint-down(sm) {
		flex-basis: var(--column-10);
	}
}

.infographic__title {
	margin-bottom: -18rem;
	font-family: var(--heading-font-family);
	font-weight: 500;
	font-size: 18rem;
	line-height: 1.8;
	color: $color-black;

	@include media-breakpoint-down(lg) {
		margin-bottom: -12rem;
		font-size: 14rem;
	}
}

.infographic__content {
	display: flex;
	align-items: center;
	margin-top: auto;
	white-space: nowrap;
}

.infographic__number {
	position: relative;
	font-family: var(--heading-font-family);
	font-weight: 700;
	font-size: 90rem;
	line-height: div(108, 90);
	color: $color-cerulean-blue;

	> div:nth-child(1) {
		color: transparent;
	}

	> div:nth-child(2) {
		position: absolute;
		inset: 0;
	}

	@include media-breakpoint-down(lg) {
		font-size: 60rem;
	}
}

.infographic__plus {
	@include text-stroke(1px, $color-black);

	margin-left: 12rem;
	font-family: var(--font-family-gilroy);
	font-weight: 600;
	font-size: 100rem;
	line-height: div(119, 100);

	@include media-breakpoint-down(lg) {
		margin-left: 5rem;
		font-size: 60rem;
	}
}
