.infographic {
	overflow: hidden;
	margin-right: calc(-1 * var(--container-content-offset-x));
	margin-left: -60rem;
	padding-left: 60rem;

	.swiper {
		overflow: visible;
		margin: 0 calc(-0.5 * var(--gap));
	}

	@include media-breakpoint-down(lg) {
		margin-left: calc(-1 * var(--container-content-offset-x));
		padding-left: var(--container-content-offset-x);
	}
}

.infographic__item {
	position: relative;
	display: flex;
	flex-flow: column;
	margin: 0 calc(0.5 * var(--gap));
	border-bottom: 1px solid $heading-color;
	padding: 51rem 0 12rem;
	width: 445rem;
	height: auto;
	cursor: default;

	&::before {
		content: "";
		position: absolute;
		left: -60rem;
		top: 0;
		z-index: -1;
		border: div(134 - 52, 2) * 1rem solid $color-white;
		border-radius: 50%;
		width: 134rem;
		height: 134rem;
	}

	@include media-breakpoint-down(lg) {
		padding: 35rem 0 4rem;
		width: 265rem;

		&::before {
			left: -56rem;
			border-width: div(94 - 36, 2) * 1rem;
			width: 94rem;
			height: 94rem;
		}
	}
}

.infographic__title {
	margin-bottom: -18rem;
	font-family: $heading-font-family;
	font-weight: 500;
	font-size: 18rem;
	line-height: 1.8;
	color: $color-black;

	@include media-breakpoint-down(lg) {
		margin-bottom: -12rem;
		font-size: 14rem;
	}
}

.infographic__content {
	display: flex;
	align-items: center;
	margin-top: auto;
}

.infographic__number {
	font-family: $heading-font-family;
	font-weight: 700;
	font-size: 90rem;
	line-height: div(108, 90);
	color: $color-cerulean-blue;

	@include media-breakpoint-down(lg) {
		font-size: 60rem;
	}
}

.infographic__plus {
	margin-left: 12rem;
	font-family: $font-family-gilroy;
	font-weight: 600;
	font-size: 100rem;
	line-height: div(119, 100);
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px currentColor;
	color: $color-black;

	@include media-breakpoint-down(lg) {
		margin-left: 5rem;
		font-size: 60rem;
	}
}
