mixin score({title, number} = {})
	.score(x-data="scoreAnimated")&attributes(attributes)
		if title
			.score__title!= title
		.score__content
			.score__number
				div(x-ref="number")= number
				div(x-ref="numberAnimated")= number
			.score__plus(x-ref="plus") +
