.score {
	cursor: default;
}

.score__title {
	display: flex;
	align-items: flex-start;
	font-family: $heading-font-family;
	font-weight: 700;
	font-size: 18rem;
	line-height: 1.25;

	&::before {
		content: "";
		flex-shrink: 0;
		margin-top: calc((1.25em - 15rem) / 2);
		margin-right: 10rem;
		border-radius: 50%;
		width: 15rem;
		height: 15rem;
		background: $color-governor-bay-2;
		// stylelint-disable-next-line
		background: conic-gradient(from 135deg at 50% 50%, $color-cornflower-blue 0deg, $color-governor-bay-2 360deg);
	}

	@include media-breakpoint-down(lg) {
		font-size: 14rem;

		&::before {
			margin-right: 8rem;
		}
	}
}

.score__content {
	display: flex;
	align-items: center;
	margin-top: -10rem;
	font-size: 90rem;
	line-height: 1.25em;

	@include media-breakpoint-down(lg) {
		margin-top: -14rem;
	}
}

.score__number {
	font-family: $font-family-stolzl-display;
	font-weight: 700;
}

.score__plus {
	@include text-stroke(1px, $color-black);

	font-family: $font-family-gilroy;
	font-weight: 600;
	font-size: 100rem;
}
