.date {
	--column-gap: 10rem;
	--icon-size: 25rem;

	display: inline-flex;
	column-gap: var(--column-gap);
	flex-flow: wrap;
	vertical-align: top;
	max-width: 100%;
	font-family: var(--heading-font-family);
	font-weight: 700;
	font-size: 30rem;
	line-height: 1;
	white-space: nowrap;
	color: var(--color);
	cursor: default;

	@include media-breakpoint-down(lg) {
		--icon-size: 15rem;

		font-size: 20rem;

		&--adaptive {
			.date__item {
				column-gap: 2rem;
				flex-flow: row;
			}

			.date__year {
				margin-bottom: 1rem;
			}
		}
	}
}

.date__item {
	display: flex;
	flex-flow: column;
	align-items: flex-end;
}

.date__day-month {
	display: flex;
	column-gap: var(--column-gap);
	align-items: center;

	&--start {
		&::before {
			@include gradient-conic;

			content: "";
			flex-shrink: 0;
			border-radius: 50%;
			width: var(--icon-size);
			height: var(--icon-size);
		}
	}

	&--end {
		&::before {
			content: "-";
			flex-shrink: 0;
		}
	}
}

.date__year {
	font-weight: 350;
	font-size: 16rem;

	@include media-breakpoint-down(lg) {
		font-size: 12rem;
	}
}
