.stages__item {
	border-top: 1px solid var(--color);
	border-bottom: 1px solid var(--color);
	padding: 45rem 0;

	&:nth-child(n + 2) {
		border-top: 0;
	}

	@include media-breakpoint-down(lg) {
		padding: 25rem 0;
		row-gap: 10rem;
	}
}

.stages__main {
	--content--heading-interval-bottom: var(--gap-xs);
}
