mixin stages()
	-
		let stages = [
			{
				dateStart: '26.10.2020',
				dateEnd: '28.10.2020',
				title: 'Открытый набор',
				content: '<p>Проблемно-ориентированное эссе</p>',
			},
			{
				dateStart: '26.10.2020',
				title: 'Проектный маршрут',
				content: `<p>Индивидуальная образовательная программа, стажировки, профессиональные пробы.
		Индивидуальная образовательная программа, стажировки, профессиональные пробы.</p>`,
			},
			{
				dateStart: '26.10.2020',
				dateEnd: '28.10.2020',
				title: 'Марафон проектов',
				content: `<p>Индивидуальная образовательная программа, стажировки, профессиональные пробы.
		Индивидуальная образовательная программа, стажировки, профессиональные пробы.</p>`,
			},
		];

	.stages&attributes(attributes)
		each stage in stages
			article.stages__item.grid
				header.column-span-3.column-span-12-lg-down
					+date(stage.dateStart, stage.dateEnd, true)

				+content-edited().stages__main.column-line-4.column-line-end-1.column-line-1-lg-down
					h3.h5!= stage.title
					div!= stage.content
