mixin button({tag = 'button', content} = {})
	#{tag}.button(
		type=tag === 'button' ? 'button' : null
		href=tag === 'a' ? '' : null
		x-init
	)&attributes(attributes)
		span.button__content(x-text=content)
