.button {
	--width: auto;
	--height: 65rem;

	@include button;

	border-radius: calc(var(--height) / 2);
	padding: 0 var(--gap);
	width: var(--width);
	height: var(--height);
	font-weight: 700;
	font-size: 18rem;
	line-height: 1.25;
	color: $color-white;
	background: $color-primary;

	&:hover {
		&:not(:disabled, .is-disabled) {
			background: $color-primary-hover;
		}
	}

	&--height-sm {
		--height: 55rem;
	}
}

.button__content {
	overflow: hidden;
	text-overflow: ellipsis;
}
