.review-item {
	--image-size: 70rem;

	display: flex;
	flex-flow: column;
	padding: 40rem 50rem 35rem;
	background: $color-white;

	@include media-down(lg) {
		--image-size: 50rem;

		padding: 25rem 35rem 20rem;
	}
}

.review-item__body {
	display: flex;
	flex: 1;
	flex-flow: column;
}

.review-item__content {
	@include line-clamp;

	&:not(:last-child) {
		margin-bottom: 20rem;
	}

	&.is-clamped {
		--line-clamp: 7;

		* {
			// stylelint-disable-next-line
			display: inline !important;
		}
	}

	@include media-down(lg) {
		&:not(:last-child) {
			margin-bottom: 10rem;
		}

		&.is-clamped {
			--line-clamp: 10;
		}
	}
}

.review-item__button {
	margin: auto 0 0 auto;
}

.review-item__footer {
	position: relative;
	display: grid;
	grid-template-columns: var(--image-size) 1fr;
	margin-top: 25rem;
	border-top: 1px solid var(--color);
	padding-top: 29rem;
	gap: 10rem 20rem;

	&::before {
		content: "";
		position: absolute;
		left: 35rem;
		top: 0;
		border-left: 1px solid var(--color);
		height: 19rem;
	}

	@include media-down(lg) {
		padding-top: 24rem;
		gap: 5rem 15rem;

		&::before {
			left: 25rem;
			height: 14rem;
		}
	}
}

.review-item__image {
	grid-row: 1 / 3;
	border-radius: 50%;
	height: var(--image-size);
	object-fit: cover;
}

.review-item__name {
	font-weight: 700;
	font-size: 18rem;
	line-height: 1.25;
	color: var(--color);

	@include media-down(lg) {
		font-size: 16rem;
	}
}

.review-item__position {
	font-size: 14rem;
	line-height: 1.25;
}
