[data-scoped-css]:not(.scoped-css-init, .scoped-css-init *),
[data-scoped-css]:not(.scoped-css-init, .scoped-css-init *)::before,
[data-scoped-css]:not(.scoped-css-init, .scoped-css-init *)::after,
[data-scoped-css]:not(.scoped-css-init, .scoped-css-init *) *,
[data-scoped-css]:not(.scoped-css-init, .scoped-css-init *) ::before,
[data-scoped-css]:not(.scoped-css-init, .scoped-css-init *) ::after {
	visibility: hidden !important;
	transition: none !important;
	animation: none !important;
}
