[data-scoped-css]:not([data-scoped-css-context], [data-scoped-css-context] *),
[data-scoped-css]:not([data-scoped-css-context], [data-scoped-css-context] *)::before,
[data-scoped-css]:not([data-scoped-css-context], [data-scoped-css-context] *)::after,
[data-scoped-css]:not([data-scoped-css-context], [data-scoped-css-context] *) *,
[data-scoped-css]:not([data-scoped-css-context], [data-scoped-css-context] *) ::before,
[data-scoped-css]:not([data-scoped-css-context], [data-scoped-css-context] *) ::after {
	visibility: hidden !important;
	transition: none !important;
	animation: none !important;
}
