mixin button-arrow({tag = 'button', dir = 'right'} = {})
	#{tag}.button-arrow(
		type=tag === 'button' ? 'button' : null
		href=tag === 'a' ? '' : null
	)&attributes(attributes)
		icon-svg(name=`arrow-${dir}`)
