mixin button-arrow({tag = 'a', content, dir = 'right', row = false} = {})
	#{tag}.button-arrow(
		class={
			'button-arrow--dir-left': dir === 'left',
			'button-arrow--row': row,
		}
		href=tag === 'a' ? "" : null
		x-init
	)&attributes(attributes)
		.button-arrow__icon
			icon-svg(name=`arrow-${dir}`)
		if content
			.button-arrow__content(x-text=content)
