.button-arrow {
	--color: #{$color};
	--color-hover: #{var(--color-primary)};

	@include button;

	width: 64rem;
	height: 27rem;
	color: var(--color);

	icon-svg {
		width: 100%;
		height: 100%;
		transition: transform;
		transition-duration: inherit;
	}

	@include hover-not-disabled {
		color: var(--color-hover);

		icon-svg[name="arrow-left"] {
			transform: translate(-20rem);
		}

		icon-svg[name="arrow-right"] {
			transform: translate(20rem);
		}
	}

	@include disabled {
		color: var(--color-disabled);
	}
}
