extends ../../pug/base
include ../../components/header/header
include ../../components/footer/footer

include ../../components/recipient-item/recipient-item
include ../../components/article-nav/article-nav
include ../../components/gallery-slider/gallery-slider

include ../../components/section/section

append variables
	-
		title = `${title} - Грантополучатель`;

block app
	+header()

	main.app__main
		+breadcrumbs([
			{
				url: 'recipients.html',
				content: 'Гранты получили',
			},
			'Создание проектного офиса для обучения молодёжи лидерским качествам',
		]).container.app__breadcrumbs

		+section({
			type: 'grants',
			title: 'Создание проектного офиса для обучения молодёжи лидерским качествам',
			advanced: true,
			withoutImage: true,
		})
			.container.section__grid
				aside.section__grid-aside
					+recipient-item()
					+article-nav({
						primary: true,
						backUrl: 'recipients.html',
					})

				.section__grid-main
					+gallery-slider([
						'../../images/content/gallery-slider/img-2.jpg',
						'../../images/content/gallery-slider/img-1.jpg',
					])

	+footer()
