include ../event-item/event-item

mixin events(type)
	.events&attributes(attributes)
		case type
			when 'forums'
				.container.events__forums
					each item in events[type]
						+event-item(item)

