include ../event-item/event-item
include ../cards/cards
include ../pagination/pagination

mixin events({type, slice, tags = true, columns = 2} = {})
	include data

	-
		let items = data(type, slice, tags);

	.events(x-data="{gridEl: $refs.grid}")&attributes(attributes)
		.events__grid(
			class={[`events__grid--columns-1-lg-up`]: columns === 1}
			x-ref="grid"
		)
			each item in items
				+event-item(item).events__item(
					class={'events__item--main': slice === 1}
				)
			case type
				when 'playbill'
				when 'news'
					+cards({
						type,
						slice: 4,
						tags: false,
						columns: 2,
					})

		if !slice
			+pagination({multipage: false})(x-data=`pagination('ajax/${type}.html', gridEl)`)
