include ../event-item/event-item
include ../cards/cards
include ../pagination/pagination

mixin events({type, slice, tags = true, columns = 2} = {})
	include data

	-
		let items = data(type, slice, tags);

	.events(x-data="{gridEl: $refs.grid}")&attributes(attributes)
		.events__grid.grid(x-ref="grid")
			each item in items
				+event-item(item).events__item(
					class=[
						'column-span-6',
						'column-span-10-md-down',
						'column-line-2-md-down',
						'column-span-12-sm-down',
						'column-line-1-sm-down',
					]
					class={
						'events__item--main': slice === 1,
						'column-span-9-lg-up': columns === 1,
					}
				)
			case type
				when 'playbill'
				when 'news'
					+cards({
						type,
						slice: 4,
						tags: false,
						columns: 2,
					}).column-span-6.column-span-12-md-down

		if !slice
			+pagination({multipage: false})(x-data=`pagination('ajax/${type}.html', gridEl)`)
