include ../event-item/event-item
include ../cards/cards

mixin events(type)
	-
		const events = {
			forums: [
				{
					title: 'Предпринимательский форум молодежи &laquo;Мой бизнес. От&nbsp;малого к&nbsp;Великому&raquo;. Предпринимательский форум молодежи &laquo;Мой бизнес. От&nbsp;малого к&nbsp;Великому&raquo;.',
					image: '../../images/content/events/forums/img-1.jpg',
					date: '26.08.2020',
					location: 'Тёсово-Нетыльский',
				},
				{
					title: 'От&nbsp;малого к&nbsp;Великому',
					image: '../../images/content/events/forums/img-2.jpg',
					date: '12.04.2020',
					location: 'Тёсово-Нетыльский',
				},
			],
			playbill: [
				{
					title: 'Предпринимательский форум молодежи &laquo;Мой бизнес. От&nbsp;малого к&nbsp;Великому&raquo;',
					image: '../../images/content/events/playbill/img-1.jpg',
					date: '26.08.2020',
				},
			],
			news: [
				{
					title: 'Предпринимательский форум молодежи &laquo;Мой бизнес. От&nbsp;малого к&nbsp;Великому&raquo;',
					image: '../../images/content/events/news/img-1.jpg',
					date: '26.08.2020',
				},
			],
		};

	.events&attributes(attributes)
		.events__grid
			case type
				when 'forums'
					each eventItem in events[type]
						+event-item(eventItem)
				when 'playbill'
				when 'news'
					+event-item(events[type][0]).events__item-main
					+cards(type, 4)
