include ../event-item/event-item
include ../cards/cards

mixin events(type)
	-
		const events = {
			forums: [
				{
					url: 'forum.html',
					title: 'Предпринимательский форум молодежи &laquo;Мой бизнес. От&nbsp;малого к&nbsp;Великому&raquo;. Предпринимательский форум молодежи &laquo;Мой бизнес. От&nbsp;малого к&nbsp;Великому&raquo;.',
					image: '../../images/content/forums/img-1.jpg',
					date: '26.08.2020',
					location: 'Тёсово-Нетыльский',
				},
				{
					url: 'forum.html',
					title: 'От&nbsp;малого к&nbsp;Великому',
					image: '../../images/content/forums/img-2.jpg',
					date: '12.04.2020',
					location: 'Тёсово-Нетыльский',
				},
			],
			playbill: [
				{
					url: 'event.html',
					title: 'Предпринимательский форум молодежи &laquo;Мой бизнес. От&nbsp;малого к&nbsp;Великому&raquo;',
					image: '../../images/content/playbill/img-1.jpg',
					date: '26.08.2020',
				},
			],
			news: [
				{
					url: 'new.html',
					title: 'Предпринимательский форум молодежи &laquo;Мой бизнес. От&nbsp;малого к&nbsp;Великому&raquo;',
					image: '../../images/content/news/img-1.jpg',
					date: '26.08.2020',
				},
			],
		};

	.events&attributes(attributes)
		.events__grid
			case type
				when 'forums'
					each eventItem in events[type]
						+event-item(eventItem).events__item
				when 'playbill'
				when 'news'
					+event-item(events[type][0]).events__item.events__item--main
					+cards({
						type,
						slice: 4,
						tags: false,
						columns: 2,
					})
