include ../event-item/event-item
include ../cards/cards
include ../pagination/pagination

mixin events({columns = 1, type, slice, tags = true, pagination = true, cards} = {})
	include data

	-
		let items = data(type, slice, tags);

	.events(x-data="{gridEl: $refs.grid}")&attributes(attributes)
		.events__grid.grid(x-ref="grid")
			each item in items
				+event-item(item).events__item(
					class=[
						{'events__item--main': cards},
						{'column-span-9-lg-up': columns === 1},
						'column-span-6',
						'column-span-10-md-down',
						'column-line-2-md-down',
						'column-span-12-sm-down',
						'column-line-1-sm-down',
					]
				)
			if cards
				+cards(cards)(
					class=[
						{'column-span-9-lg-up': columns === 1},
						'column-span-6',
						'column-span-12-md-down',
					]
				)

		if pagination
			+pagination({multipage: false})(x-data=`pagination('data/${type}.html', gridEl)`)
