.events {
	@include media-breakpoint-up(md) {
		.cards__main.has-swiper {
			margin-left: 0;
			padding-left: 0;
		}
	}
}

.events__grid {
	align-items: start;
}

.events__item {
	@include media-breakpoint-between(md, lg) {
		&--main.column-span-9-lg-up {
			position: sticky;
			top: var(--header--sticky-height);
		}
	}

	@include media-breakpoint-up(md) {
		&--main:not(.column-span-9-lg-up) {
			position: sticky;
			top: var(--header--sticky-height);
		}
	}
}
