.tags {
	--color: var(--color-primary);
	--color-hover: var(--color-primary-hover);

	display: flex;
	flex-flow: wrap;
	font-size: 14rem;
	line-height: 1.25;
	color: var(--color);
	gap: 5rem 15rem;

	@include media-down(lg) {
		font-size: 12rem;
	}
}

.tags__item {
	transition: color;
	transition-duration: var(--duration);

	&::before {
		content: "#\00A0";
	}

	@include hover {
		color: var(--color-hover);
	}
}
