.tags {
	display: flex;
	flex-flow: wrap;
	gap: 5rem 15rem;

	&--align-right {
		justify-content: flex-end;
		text-align: right;
	}
}

.tags__item {
	font-family: $font-family-stolzl;
	font-size: 13rem;
	line-height: 1.25;
	color: $color-primary;
	transition: color;
	transition-duration: $transition-duration;

	&::before {
		content: "#\00A0";
	}

	@include hover {
		color: $color-primary-hover;
	}

	@include media-breakpoint-down(lg) {
		font-size: 12rem;
	}
}
