.image-forums {
	position: absolute;
	right: 13rem;
	width: 716em;
	height: 721em;
	font-size: 1rem;

	@include media-breakpoint-down(lg) {
		right: -6rem;
		font-size: math.div(315, 716) * 1rem;
	}
}

.image-forums__img-1 {
	position: absolute;
	left: 95em;
	top: 301em;
	width: 623em;
}

.image-forums__ellipses-1 {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.image-forums__ellipse-1 {
	position: absolute;
	left: 273em;
	top: 149em + 114em;
	border-radius: 50%;
	width: 109.1em;
	height: 109.1em;
	background: conic-gradient(from 224.41deg at 50% 50%, #6a70fd 0deg, #3338ad 360deg);
}

.image-forums__ellipse-2 {
	position: absolute;
	left: 467em;
	top: 61em + 114em;
	border-radius: 50%;
	width: 212.84em;
	height: 212.84em;
	background: conic-gradient(from 135deg at 50% 50%, #6a70fd 0deg, #3338ad 360deg);
}

.image-forums__ellipse-3 {
	position: absolute;
	left: 386em;
	top: 302em + 114em;
	border-radius: 50%;
	width: 109.1em;
	height: 109.1em;
	background: conic-gradient(from -44.29deg at 50% 50%, #6a70fd 0deg, #3338ad 360deg);
}

.image-forums__img-2 {
	position: absolute;
	left: 292em;
	top: 475em;
	width: 353em;
}

.image-forums__img-3 {
	position: absolute;
	left: 122em;
	top: -88em + 114em;
	width: 546em;
}

.image-forums__img-4 {
	position: absolute;
	left: 0;
	top: 11em;
	width: 222em;
}

.image-forums__img-5 {
	position: absolute;
	left: 375em;
	top: 0;
	width: 150em;
}
