.docs {
	overflow: hidden;

	@include media-down(lg) {
		margin-right: calc(-1 * var(--content-offset));
		margin-left: calc(-1 * var(--content-offset));
		padding-right: var(--content-offset);
		padding-left: var(--content-offset);
	}
}

.docs__body {
	overflow: visible;

	@include media-down(lg) {
		margin: 0 calc(-0.5 * var(--gap-md));
	}
}

.docs__item {
	@include media-down(lg) {
		margin: 0 calc(0.5 * var(--gap-md));
		height: auto;
	}
}
