mixin button-load({tag = 'button', content} = {})
	#{tag}.button-load(
		type=tag === 'button' ? 'button' : null
		href=tag === 'a' ? '' : null
		x-init
	)&attributes(attributes)
		span.button-load__content(x-text=content)
		icon-svg.button-load__icon(name="plus")
