@keyframes button-load-loading {
	to {
		transform: rotate(360deg);
	}
}

.button-load {
	@include button;

	column-gap: 20rem;
	font-weight: 700;
	font-size: 20rem;
	line-height: 1.25;
	color: var(--color);

	@include hover-not-disabled {
		color: var(--color-primary);
	}

	&.is-loading {
		.button-load__icon {
			animation: button-load-loading 1s ease-in-out infinite;
		}
	}
}

.button-load__content {
	overflow: hidden;
	text-overflow: ellipsis;
}

.button-load__icon {
	flex-shrink: 0;
	width: 45rem;
	height: 45rem;
}
