mixin button-load({tag = 'a', content} = {})
	#{tag}.button-load(
		type=tag === 'button' ? 'button' : null
		href=tag === 'a' ? "" : null
	)&attributes(attributes)
		span.button-load__content= content
		icon-svg.button-load__icon(name="plus")
