.author {
	--line-height: 1.25;
	--image-size: var(--column-1);

	display: flex;
	column-gap: var(--gap-sm);
	align-items: flex-start;
	font-size: 14rem;
	text-align: right;
	color: var(--color);

	&--line-clamp {
		--line-clamp: 3;

		height: max(calc(var(--line-clamp) * var(--line-height) * 1em), var(--image-size));
	}

	@include media-down(lg) {
		--image-size: 50rem;
	}
}

.author__title {
	@include line-clamp;

	flex: 1;
	margin: auto 0;
}

.author__image {
	border-radius: 50%;
	width: var(--image-size);
	height: var(--image-size);
	object-fit: cover;
}
