.article {
	--body-padding-top: 50rem;

	position: relative;

	&--forum {
		--theme-color: #{$color-onahau-2};
	}

	&--project {
		--theme-color: #{$color-aero-blue};
	}

	&--contest {
		--theme-color: #{$color-tidal};
	}

	&--grant {
		--theme-color: #{$color-dolly};
	}

	&--direction {
		--theme-color: #{$color-white-pointer};
	}

	@include media-down(lg) {
		--body-padding-top: 0;
	}
}

.article__bg {
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		width: 100%;
		height: min(1300 / 1200 * var(--app--width), 100%);
		background: linear-gradient(180deg, var(--theme-color) 81.03%, transparent);
	}

	@include media-down(lg) {
		&::before {
			top: auto;
			margin-top: calc(-1 * var(--block-interval));
			height: min(350 / 360 * var(--app--width), 100%);
		}
	}
}

.article__image {
	position: relative;

	&::before {
		content: "";
		display: block;
		padding-top: cw(450);
	}

	@include media-down(lg) {
		margin: 0 calc(-1 * var(--content-offset));

		&::before {
			padding-top: min(#{cw(250, 360)}, #{vh(100)} - var(--header--height));
		}
	}
}

.article__image-el {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.article__body {
	padding-top: var(--body-padding-top);

	@include media-up(lg) {
		&:not(:first-child) .article__card-details {
			margin-top: calc(-1 * var(--body-padding-top) - 100rem);
		}
	}
}

.article__subsection-group {
	padding: var(--gap-xxl) 0;
	background: var(--theme-color);
}

.article__grid {
	display: grid;
	column-gap: var(--gap-md);
	align-items: start;

	@include media-up(lg) {
		grid-template-columns: repeat(6, 1fr);
	}
}

.article__grid-aside {
	@include media-up(lg) {
		position: sticky;
		top: calc(var(--header--sticky-height) + var(--body-padding-top));
		z-index: 1;
		overflow-y: auto;
		max-height: calc(#{vh(100)} - (var(--header--sticky-height) + var(--body-padding-top)) - 20rem);

		&::-webkit-scrollbar {
			display: none;
		}
	}

	@include media-down(lg) {
		display: none;
		margin-bottom: 30rem;
	}
}

.article__grid-main {
	.article__subsection-group {
		margin-right: calc(-1 * var(--content-offset));
		margin-left: calc(-1 * var(--content-offset));
		padding-right: var(--content-offset);
		padding-left: var(--content-offset);
	}

	.subsection {
		margin-right: calc(-1 * var(--content-offset));
		margin-left: calc(-1 * var(--content-offset));
	}

	@include media-up(lg) {
		grid-column: 2 / 7;

		.article__subsection-group {
			margin-left: calc(-1 * (var(--column-offset-2) + var(--content-offset)));
			padding-left: calc(var(--column-offset-2) + var(--content-offset));
		}

		.subsection {
			margin-left: calc(-1 * (var(--column-offset-2) + var(--content-offset)));
		}
	}
}

.article__card-details {
	position: relative;
	margin-top: calc(-1 * var(--body-padding-top));

	@include media-down(lg) {
		margin-right: calc(-1 * var(--content-offset));
		margin-left: calc(-1 * var(--content-offset));
	}
}
