.article {
	--body-padding-top: 50rem;

	position: relative;

	@include media-breakpoint-down(lg) {
		--body-padding-top: 0;
	}
}

.article__image {
	position: relative;

	&::before {
		content: "";
		display: block;
		padding-top: cw(450);
	}

	@include media-breakpoint-down(lg) {
		margin: 0 calc(-1 * var(--container-content-offset-x));

		&::before {
			padding-top: min(#{cw(250, 360)}, #{vh(100)} - var(--header-height));
		}
	}
}

.article__image-el {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.article__body {
	padding-top: var(--body-padding-top);

	@include media-breakpoint-up(lg) {
		&:not(:first-child) {
			.article__card-details {
				margin-top: -150rem;
			}
		}
	}
}

.article__grid {
	display: grid;
	column-gap: var(--gap);
	align-items: start;

	@include media-breakpoint-up(lg) {
		grid-template-columns: 160fr 920fr;
	}
}

.article__row {
	@include media-breakpoint-up(lg) {
		grid-column: 1 / 3;
	}
}

.article__row-outside {
	margin: 0 calc(-1 * var(--container-content-offset-x));

	&--bg {
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			width: 100%;
			height: min(1300 / 1200 * var(--body-width), 100%);
			background: linear-gradient(180deg, $color-dolly 81.03%, rgba(255, 243, 134, 0) 100%);
		}
	}

	@include media-breakpoint-up(lg) {
		grid-column: 1 / 3;
	}

	@include media-breakpoint-down(lg) {
		&--bg {
			&::before {
				top: auto;
				margin-top: calc(-1 * var(--gap-2xl));
				height: min(350 / 360 * var(--body-width), 100%);
			}
		}
	}
}

.article__aside {
	@include media-breakpoint-up(lg) {
		position: sticky;
		top: calc(var(--header-sticky-height) + var(--body-padding-top));
	}

	@include media-breakpoint-down(lg) {
		display: none;
	}
}

.article__card-details {
	position: relative;
	margin-top: calc(-1 * var(--body-padding-top));

	@include media-breakpoint-down(lg) {
		margin-right: calc(-1 * var(--container-content-offset-x));
		margin-left: calc(-1 * var(--container-content-offset-x));
	}
}
