:root {
	--container-gap: 15rem;
	--container-gap-negative: calc(-1 * var(--container-gap));
	--container-max-width: 1140rem;
	--container-width: min(var(--body-width), var(--container-max-width));
	--container-content-offset-x:
		calc(
			var(--container-gap-negative) -
			(var(--body-width) - var(--container-width)) / 2
		);

	@include media-breakpoint-down(lg) {
		--container-gap: 20rem;
		--container-max-width: var(--body-width);
	}
}

.container {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	padding: 0 var(--container-gap);
	width: var(--container-width);
}
