:root {
	--container-gap: #{$container-gap};
	--container-max-width: #{$container-max-width};
	--container-width: min(var(--body-width), var(--container-max-width));
	--container-content-width: calc(var(--container-width) - 2 * var(--container-gap));
	--container-content-offset-x: calc((var(--body-width) - var(--container-content-width)) / 2);

	@include media-breakpoint-down(lg) {
		--container-gap: 20rem;
		--container-max-width: var(--body-width);
	}
}

.container {
	margin: 0 auto;
	padding: 0 var(--container-gap);
	width: var(--container-width);
}
