:root {
	--container--max-width: 1140rem;
	--container--padding: 15rem;
	--container--width: min(var(--app--width), var(--container--max-width));

	@include media-breakpoint-down(lg) {
		--container--padding: 19rem;
		--container--max-width: var(--app--width);
	}
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: var(--container--padding);
	padding-left: var(--container--padding);
	width: var(--container--width);
}

.grid {
	display: grid;
	grid-auto-columns: var(--column-1);
	grid-template-columns: repeat(auto-fill, var(--column-1));
	gap: var(--gap);
}

@for $size from 1 through 12 {
	.column-span-#{$size} {
		grid-column: span $size / span $size;
	}

	.column-#{$size}:is(*, .swiper-slide) {
		width: var(--column-#{$size});
	}
}

@for $size from 1 through 12 {
	.column-line-#{$size} {
		grid-column-start: $size;
	}

	.column-line-end-#{$size} {
		grid-column-end: -$size;
	}
}

@each $name, $value in $breakpoints {
	@include media-breakpoint-up($name) {
		.grid-#{$name}-up {
			display: grid;
			grid-auto-columns: var(--column-1);
			grid-template-columns: repeat(auto-fill, var(--column-1));
			gap: var(--gap);
		}

		@for $size from 1 through 12 {
			.column-span-#{$size}-#{$name}-up {
				grid-column: span $size / span $size;
			}

			.column-#{$size}-#{$name}-up:is(*, .swiper-slide) {
				width: var(--column-#{$size});
			}
		}

		@for $size from 1 through 12 {
			.column-line-#{$size}-#{$name}-up {
				grid-column-start: $size;
			}

			.column-line-end-#{$size}-#{$name}-up {
				grid-column-end: -$size;
			}
		}
	}
}

@each $name, $value in map-reverse($breakpoints) {
	@include media-breakpoint-down($name) {
		.grid-#{$name}-down {
			display: grid;
			grid-auto-columns: var(--column-1);
			grid-template-columns: repeat(auto-fill, var(--column-1));
			gap: var(--gap);
		}

		@for $size from 1 through 12 {
			.column-span-#{$size}-#{$name}-down {
				grid-column: span $size / span $size;
			}

			.column-#{$size}-#{$name}-down:is(*, .swiper-slide) {
				width: var(--column-#{$size});
			}
		}

		@for $size from 1 through 12 {
			.column-line-#{$size}-#{$name}-down {
				grid-column-start: $size;
			}

			.column-line-end-#{$size}-#{$name}-down {
				grid-column-end: -$size;
			}
		}
	}
}
