.reviews__main {
	overflow: hidden;
	margin-right: calc(-1 * var(--content-offset));
	padding-right: var(--content-offset);

	@include media-breakpoint-down(lg) {
		--gap: 3rem;

		margin-left: calc(-1 * var(--content-offset));
		padding-left: var(--content-offset);
	}
}

.reviews__main-inner {
	overflow: visible;
	margin: 0 calc(-0.5 * var(--gap));
}

.reviews__item {
	margin: 0 calc(0.5 * var(--gap));
	width: var(--column-6);

	@include media-breakpoint-down(lg) {
		width: var(--column-8);
	}

	@include media-breakpoint-down(md) {
		width: var(--column-12);
	}
}
