mixin promo()
	section.promo&attributes(attributes)
		.container.promo__container
			.promo__body
				h2.promo__title.
					#[strong Молодёжно]&nbsp;&mdash;
					#[small это информационно-познавательный портал для молодёжи Новгородской области]
				.promo__content
					p.
						Портал реализован инициативами Дома Молодёжи Новгородской области, цель которого&nbsp;&mdash;
						это реализация молодёжной политики во&nbsp;всех актуальных и&nbsp;действующих направлениях
						данной отрасли
				+more-link({flow: 'row'}).promo__more Подробнее
			img.promo__image(src="../../images/design/molodejno.svg" alt="")
