.promo {
	user-select: none;

	&:not(:first-child) {
		margin-top: var(--gap-xl);
	}

	&:not(:last-child) {
		margin-bottom: var(--gap-xl);
	}

	.app__main > & {
		&:last-child {
			margin-top: var(--app--main-gap-bottom);
			margin-bottom: calc(-1 * var(--app--main-gap-bottom));
		}
	}

	&--header {
		.promo__body {
			align-self: end;
		}

		.promo__title {
			font-size: var(--heading-2-font-size);
			word-wrap: normal;
		}

		&:not(:first-child) {
			margin-top: 0;
		}

		&:not(:last-child) {
			margin-bottom: var(--heading-interval-bottom);
		}
	}

	&--projects {
		background: $color-aero-blue;
	}

	&--contests {
		background: $color-tidal;
	}

	&--grants {
		background: $color-dolly;
	}

	@include media-breakpoint-up(lg) {
		&--offset-column {
			.promo__image {
				grid-column: 3 / 5;
			}

			.promo__body {
				grid-column: 2 / 3;
				grid-row: 1;
			}
		}
	}
}

.promo__grid {
	--padding-y: 35rem;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding-top: var(--padding-y);
	padding-bottom: var(--padding-y);
	gap: var(--gap);

	@include media-breakpoint-down(lg) {
		grid-template-columns: repeat(auto-fit, minmax(min(322rem, 100%), 1fr));
		row-gap: var(--padding-y);
	}
}

.promo__image {
	position: relative;
	align-self: end;
	grid-column: 1 / 3;
	margin: calc(-1 * var(--padding-y)) 0;
	background: url("../../images/design/promo/bg.svg") no-repeat 50% / contain;

	&::before {
		content: "";
		display: block;
		padding-top: percentage(div(350, 540));
	}

	@include media-breakpoint-down(lg) {
		grid-column: auto;
		max-width: 400rem;
	}
}

.promo__image-el {
	position: absolute;
	right: 0;
	top: 0;
	width: cw(422, 540);
	height: 100%;
}

.promo__body {
	align-self: center;
	grid-column: 3 / 5;
	color: var(--color);

	@include media-breakpoint-down(lg) {
		grid-column: 1;
		grid-row: 1;
	}
}

.promo__title {
	font-family: var(--heading-font-family);
	font-weight: var(--heading-font-weight);
	font-size: 40rem;
	line-height: var(--heading-line-height);
	color: var(--heading-color);

	&:not(:last-child) {
		margin-bottom: 30rem;
	}

	@include media-breakpoint-down(lg) {
		font-size: 30rem;

		br {
			display: none;
		}

		&:not(:last-child) {
			margin-bottom: 20rem;
		}
	}
}
