mixin promo()
	section.promo&attributes(attributes)
		.container.promo__container
			.promo__body
				h2.promo__title.
					#[strong Молодёжно]&nbsp;&mdash;
					#[small это информационно-познавательный портал для молодёжи Новгородской области]
				.promo__content
					p.
						Портал реализован инициативами Дома Молодёжи Новгородской области, цель которого&nbsp;&mdash;
						это реализация молодёжной политики во&nbsp;всех актуальных и&nbsp;действующих направлениях
						данной отрасли
				+more-link({content: "'Подробнее'"}).promo__more(x-bind:class="'more-link--row'")
			img.promo__image(
				src="../../images/design/molodejno.png"
				srcset="../../images/design/molodejno@2x.png 2x"
				alt=""
			)
