.promo {
	&:not(:first-child) {
		margin-top: var(--grid-gap-lg);
	}

	&:not(:last-child) {
		margin-bottom: var(--grid-gap-lg);
	}

	&--projects {
		background: $color-aero-blue;
	}

	&--contests {
		background: $color-tidal;
	}

	&--grants {
		background: $color-dolly;
	}
}

.promo__container {
	display: flex;
	column-gap: var(--grid-gap);
	flex-flow: wrap;
	align-items: center;
}

.promo__image {
	position: relative;
	flex: 320rem;
	align-self: flex-end;
	background: url("../../images/design/promo/bg.svg") no-repeat 50% / contain;

	&::before {
		content: "";
		display: block;
		padding-top: percentage(div(350, 540));
	}

	@include media-breakpoint-down(lg) {
		order: 1;
		max-width: 400rem;
	}
}

.promo__image-el {
	position: absolute;
	right: 0;
	top: 0;
	width: percentage(div(422, 540));
	height: 100%;
}

.promo__body {
	flex: 320rem;
	padding: 35rem 0;
	color: $color;
}

.promo__title {
	margin: 0;
	font-family: $heading-font-family;
	font-weight: 700;
	font-size: 40rem;
	line-height: 1.1;

	&:not(:last-child) {
		margin-bottom: 30rem;
	}

	@include media-breakpoint-down(lg) {
		font-size: 30rem;

		br {
			display: none;
		}

		&:not(:last-child) {
			margin-bottom: 20rem;
		}
	}
}
