mixin article-nav({primary = false, backUrl = "", items} = {})
	nav.article-nav(
		x-data="articleNav"
		x-on:popstate.window="hash = location.hash"
		x-on:scroll-hashchange.window="hash = location.hash"
	)&attributes(attributes)
		+button-arrow-text({
			dir: 'left',
			content: "'Назад'",
		}).article-nav__back(
			class={'button-arrow-text--primary': primary}
			href=backUrl
		)
		if items && items.length
			.article-nav__items
				each item in items
					a.article-nav__item(
						href=item.url
						x-bind:class="{'is-active': $el.hash && $el.hash === hash}"
					)= item.content
