:root {
	--app__main-space-bottom: 100rem;

	@include media-breakpoint-down(lg) {
		--app__main-space-bottom: 50rem;
	}
}

.app {
	display: flex;
	flex-flow: column;
	min-height: vh(100);
	font-family: $font-family;
	font-size: 16rem;
	line-height: 1.25;
	word-wrap: break-word;
	color: $color;
	background: $background-color;
}

.app__main {
	flex: 1;
	padding-bottom: var(--app__main-space-bottom);
}

.app__group {
	--bg-end: calc(100% - 125rem);

	display: flex;
	flex-flow: column;
	background: linear-gradient(180deg, $color-aero-blue 51.03%, $color-onahau var(--bg-end), transparent var(--bg-end));

	&:not(:last-child) {
		margin-bottom: 228rem - 125rem;
	}

	@include media-breakpoint-down(lg) {
		--bg-end: calc(100% - 70rem);

		&:not(:last-child) {
			margin-bottom: 115rem - 70rem;
		}
	}
}
