.app {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	font-family: $font-family;
	font-size: 16rem;
	line-height: 1.25;
	color: $color;
	background: $background-color;

	&__main {
		flex: 1;
	}
}
