.app {
	display: flex;
	flex-flow: column;
	min-height: vh(100);
	font-family: $font-family;
	font-size: 16rem;
	line-height: 1.25;
	color: $color;
	background: $background-color;
}

.app__main {
	flex: 1;
	overflow: hidden;
	padding-bottom: 125rem;

	@include media-breakpoint-down(lg) {
		padding-bottom: 70rem;
	}
}

.app__group {
	display: flex;
	flex-flow: column;
	background: linear-gradient(180deg, $color-aero-blue 51.03%, $color-onahau 100%);

	.quote {
		z-index: 2;
		margin-bottom: -125rem;
	}

	@include media-breakpoint-down(lg) {
		.quote {
			margin-bottom: -70rem;
		}
	}
}
