.card-item {
	position: relative;
	display: flex;
	flex-flow: column;
	padding-top: 25rem;
	min-width: 0;
	color: $color;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 1px;
		background: $color-black;
		transition: height $transition-duration;
	}

	@include hover {
		&::before {
			height: 3px;
		}

		.card-item__title {
			color: $color-primary;
		}

		.card-item__image-el {
			transform: $image-hover-transform;
		}
	}

	&--project {
		&:nth-child(4n + 2) .card-item__image {
			border-radius: 50%;
		}

		&:nth-child(4n + 3) .card-item__image {
			border-radius: 50% 0 0 50%;
		}
	}

	&--event {
		&:nth-child(4n + 1) .card-item__image {
			border-radius: 50% 0 0 50%;
		}

		&:nth-child(4n + 4) .card-item__image {
			border-radius: 50%;
		}
	}

	@include media-breakpoint-down(lg) {
		padding-top: 20rem;
	}
}

.card-item__date {
	margin-left: auto;
}

.card-item__group {
	display: flex;
	align-items: center;
	height: 54rem;

	&:not(:last-child) {
		margin-bottom: 20rem;
	}

	@include media-breakpoint-down(lg) {
		height: 42rem;

		&:not(:last-child) {
			margin-bottom: 15rem;
		}
	}
}

.card-item__ref-title {
	@include line-clamp(3, 1.29);

	flex: 1;
	margin-right: 10rem;
	font-size: 14rem;
	word-wrap: break-word;

	@include media-breakpoint-down(lg) {
		--line-clamp-line-height: 1.2;

		font-size: 12rem;
	}
}

.card-item__ref-image {
	width: 152rem;
	height: 49rem;
	object-fit: contain;
	object-position: 100%;

	@include media-breakpoint-down(lg) {
		width: 114rem;
		height: 36rem;
	}
}

.card-item__title {
	@include line-clamp(4, 1.4);

	font-family: $heading-font-family;
	font-weight: 500;
	font-size: 20rem;
	word-wrap: break-word;
	transition: color $transition-duration;

	&:not(:last-child) {
		margin-bottom: 20rem;
	}

	@include media-breakpoint-down(lg) {
		--line-clamp-line-height: 1.2;

		font-size: 18rem;

		&:not(:last-child) {
			margin-bottom: 15rem;
		}
	}
}

.card-item__image {
	position: relative;
	overflow: hidden;
	margin-top: auto;

	&::before {
		content: "";
		display: block;
		padding-top: 100%;
	}
}

.card-item__image-el {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: $image-transition;
}
