include ../tags/tags

mixin card-item({url, title, image, date, ref, tags, price})
	article.card-item&attributes(attributes)
		.card-item__body
			if date || ref || price
				.card-item__group
					if date
						+date(date).card-item__date

					if ref
						- ref.lineClamp = true;
						+ref(ref).card-item__ref

					if price
						+price(price).card-item__price

			h3.card-item__title
				a.card-item__link(
					href=url || ""
					title!=title
				)!=title

			if tags
				+tags(tags).card__tags

		.card-item__image
			+img-2x.card-item__image-el(
				src=image
				alt!=title
			)
