:root {
	--content-font-size: #{$font-size};
	--content-line-height: #{$line-height};
	--content-indent: #{em(10)};
	--content-h1-font-size: 60rem;
	--content-h2-font-size: 50rem;
	--content-h3-font-size: 40rem;
	--content-h4-font-size: 35rem;
	--content-h5-font-size: 25rem;
	--content-h6-font-size: 20rem;
	--content-list-indent-left: #{em(64)};
	--content-ul-marker-size: #{em(10)};

	@include media-breakpoint-down(lg) {
		--content-h1-font-size: 40rem;
		--content-h2-font-size: 35rem;
		--content-h3-font-size: 30rem;
		--content-h4-font-size: 25rem;
		--content-h5-font-size: 20rem;
		--content-h6-font-size: 15rem;
	}
}

.content {
	font-size: var(--content-font-size);
	line-height: var(--content-line-height);
	color: $color;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	li {
		&:not(:first-child) {
			margin-top: var(--content-indent);
		}

		&:not(:last-child) {
			margin-bottom: var(--content-indent);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $heading-font-family;
		font-weight: $heading-font-weight;
		line-height: $heading-line-height;
		color: $heading-color;
	}

	h1 {
		font-size: var(--content-h1-font-size);
	}

	h2 {
		font-size: var(--content-h2-font-size);
	}

	h3 {
		font-size: var(--content-h3-font-size);
		color: $color-primary;
	}

	h4 {
		font-size: var(--content-h4-font-size);
	}

	h5 {
		font-size: var(--content-h5-font-size);
	}

	h6 {
		font-size: var(--content-h6-font-size);
	}

	a[href] {
		color: $color-primary;
		transition: color;
		transition-duration: $transition-duration;

		&:hover {
			color: $color-primary-hover;
		}
	}

	ul,
	ol {
		position: relative;
		list-style: none;
		padding-left: var(--content-list-indent-left);
	}

	ul {
		> li {
			&::before {
				@include conic-gradient;

				content: "";
				position: absolute;
				left: 0;
				margin-top: calc((var(--content-line-height) * 1em - var(--content-ul-marker-size)) / 2);
				border-radius: 50%;
				width: var(--content-ul-marker-size);
				height: var(--content-ul-marker-size);
			}
		}
	}
}
