.cards__main {
	overflow: hidden;

	&.has-swiper {
		margin-right: calc(-1 * var(--container-content-offset));
		margin-left: calc(-1 * var(--container-content-offset));
		padding-right: var(--container-content-offset);
		padding-left: var(--container-content-offset);
	}
}

.cards__main-inner {
	overflow: visible;

	&.swiper {
		margin: 0 calc(-0.5 * var(--gap-md));
	}
}

.cards__grid {
	&:not(.swiper-wrapper) {
		row-gap: var(--gap-xl);
	}
}

.cards__item {
	&.swiper-slide {
		margin: 0 calc(0.5 * var(--gap-md));
		height: auto;
	}

	@include media-down(lg) {
		&.swiper-slide.column-4-lg-down {
			width: calc(var(--column-4) - 16rem / 3);
		}
	}

	@include media-down(md) {
		&.swiper-slide.column-6-md-down {
			width: calc(var(--column-6) - 16rem / 2);
		}
	}

	@include media-down(sm) {
		&.swiper-slide.column-10-sm-down {
			width: var(--column-10);
		}
	}
}
