-
	const data = (type, slice, tags) => {
		let items = {
			projects: [
				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/projects/img-1.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр',
						image: '../../images/content/projects/logo.png',
					},
					price: 1000000,
					author: {
						title: 'Константинопольская Александра',
						image: '../../images/content/projects/authors/img-1.jpg',
					},
					tags: [
						'Образование',
						'Мастер-классы',
						'Культура и искусство',
					],
				},
				{
					title: 'Конкурс среди образовательных организаций высшего образования очень-очень длинный заголовок',
					image: '../../images/content/projects/img-2.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр очень-очень длинный заголовок',
						image: '../../images/content/projects/logo.png',
					},
					price: 70000,
					author: {
						title: 'Константинопольская Александра очень-очень длинный заголовок',
						image: '../../images/content/projects/authors/img-2.jpg',
					},
					tags: [
						'Производство',
					],
				},
				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/projects/img-3.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр',
						image: '../../images/content/projects/logo.png',
					},
					price: 600000,
					author: {
						title: 'Олег Иванов',
						image: '../../images/content/projects/authors/img-3.jpg',
					},
					tags: [
						'Образование',
					],
				},
				{
					title: 'Конкурс среди образовательных организаций высшего образования',
					image: '../../images/content/projects/img-4.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр',
						image: '../../images/content/projects/logo.png',
					},
					price: 750000,
					author: {
						title: 'Константинопольская Александра',
						image: '../../images/content/projects/authors/img-4.jpg',
					},
					tags: [
						'Творчество',
					],
				},

				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/projects/img-3.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр',
						image: '../../images/content/projects/logo.png',
					},
					price: 600000,
					author: {
						title: 'Олег Иванов',
						image: '../../images/content/projects/authors/img-3.jpg',
					},
					tags: [
						'Образование',
					],
				},
				{
					title: 'Конкурс среди образовательных организаций высшего образования',
					image: '../../images/content/projects/img-4.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр',
						image: '../../images/content/projects/logo.png',
					},
					price: 750000,
					author: {
						title: 'Константинопольская Александра',
						image: '../../images/content/projects/authors/img-4.jpg',
					},
					tags: [
						'Творчество',
					],
				},
				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/projects/img-1.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр',
						image: '../../images/content/projects/logo.png',
					},
					price: 1000000,
					author: {
						title: 'Константинопольская Александра',
						image: '../../images/content/projects/authors/img-1.jpg',
					},
					tags: [
						'Образование',
						'Мастер-классы',
						'Культура и искусство',
					],
				},
				{
					title: 'Конкурс среди образовательных организаций высшего образования очень-очень длинный заголовок',
					image: '../../images/content/projects/img-2.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр очень-очень длинный заголовок',
						image: '../../images/content/projects/logo.png',
					},
					price: 70000,
					author: {
						title: 'Константинопольская Александра очень-очень длинный заголовок',
						image: '../../images/content/projects/authors/img-2.jpg',
					},
					tags: [
						'Производство',
					],
				},

				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/projects/img-1.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр',
						image: '../../images/content/projects/logo.png',
					},
					price: 1000000,
					author: {
						title: 'Константинопольская Александра',
						image: '../../images/content/projects/authors/img-1.jpg',
					},
					tags: [
						'Образование',
						'Мастер-классы',
						'Культура и искусство',
					],
				},
				{
					title: 'Конкурс среди образовательных организаций высшего образования очень-очень длинный заголовок',
					image: '../../images/content/projects/img-2.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр очень-очень длинный заголовок',
						image: '../../images/content/projects/logo.png',
					},
					price: 70000,
					author: {
						title: 'Константинопольская Александра очень-очень длинный заголовок',
						image: '../../images/content/projects/authors/img-2.jpg',
					},
					tags: [
						'Производство',
					],
				},
				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/projects/img-3.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр',
						image: '../../images/content/projects/logo.png',
					},
					price: 600000,
					author: {
						title: 'Олег Иванов',
						image: '../../images/content/projects/authors/img-3.jpg',
					},
					tags: [
						'Образование',
					],
				},
				{
					title: 'Конкурс среди образовательных организаций высшего образования',
					image: '../../images/content/projects/img-4.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр',
						image: '../../images/content/projects/logo.png',
					},
					price: 750000,
					author: {
						title: 'Константинопольская Александра',
						image: '../../images/content/projects/authors/img-4.jpg',
					},
					tags: [
						'Творчество',
					],
				},

				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/projects/img-3.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр',
						image: '../../images/content/projects/logo.png',
					},
					price: 600000,
					author: {
						title: 'Олег Иванов',
						image: '../../images/content/projects/authors/img-3.jpg',
					},
					tags: [
						'Образование',
					],
				},
				{
					title: 'Конкурс среди образовательных организаций высшего образования',
					image: '../../images/content/projects/img-4.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр',
						image: '../../images/content/projects/logo.png',
					},
					price: 750000,
					author: {
						title: 'Константинопольская Александра',
						image: '../../images/content/projects/authors/img-4.jpg',
					},
					tags: [
						'Творчество',
					],
				},
				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/projects/img-1.jpg',
					organizer: {
						title: 'Ресурсный Молодежный центр',
						image: '../../images/content/projects/logo.png',
					},
					price: 1000000,
					author: {
						title: 'Константинопольская Александра',
						image: '../../images/content/projects/authors/img-1.jpg',
					},
					tags: [
						'Образование',
						'Мастер-классы',
						'Культура и искусство',
					],
				},
			],
			playbill: [
				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/playbill/img-2.jpg',
					date: '26.08.2020',
					tags: [
						'Образование',
						'Мастер-классы',
						'Культура и искусство',
					],
				},
				{
					title: 'Конкурс среди образовательных организаций высшего образования',
					image: '../../images/content/playbill/img-3.jpg',
					date: '12.09.2020',
					tags: [
						'Концерты',
					],
				},
				{
					title: 'Конкурс среди образовательных организаций высшего образования',
					image: '../../images/content/playbill/img-5.jpg',
					date: '05.10.2020',
					tags: [
						'Творчество',
					],
				},
				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/playbill/img-4.jpg',
					date: '11.11.2021',
					tags: [
						'Творчество',
					],
				},

				{
					title: 'Конкурс среди образовательных организаций высшего образования',
					image: '../../images/content/playbill/img-5.jpg',
					date: '05.10.2020',
					tags: [
						'Творчество',
					],
				},
				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/playbill/img-4.jpg',
					date: '11.11.2021',
					tags: [
						'Творчество',
					],
				},
				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/playbill/img-2.jpg',
					date: '26.08.2020',
					tags: [
						'Образование',
						'Мастер-классы',
						'Культура и искусство',
					],
				},
				{
					title: 'Конкурс среди образовательных организаций высшего образования',
					image: '../../images/content/playbill/img-3.jpg',
					date: '12.09.2020',
					tags: [
						'Концерты',
					],
				},

				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/playbill/img-2.jpg',
					date: '26.08.2020',
					tags: [
						'Образование',
						'Мастер-классы',
						'Культура и искусство',
					],
				},
				{
					title: 'Конкурс среди образовательных организаций высшего образования',
					image: '../../images/content/playbill/img-3.jpg',
					date: '12.09.2020',
					tags: [
						'Концерты',
					],
				},
				{
					title: 'Конкурс среди образовательных организаций высшего образования',
					image: '../../images/content/playbill/img-5.jpg',
					date: '05.10.2020',
					tags: [
						'Творчество',
					],
				},
				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/playbill/img-4.jpg',
					date: '11.11.2021',
					tags: [
						'Творчество',
					],
				},

				{
					title: 'Конкурс среди образовательных организаций высшего образования',
					image: '../../images/content/playbill/img-5.jpg',
					date: '05.10.2020',
					tags: [
						'Творчество',
					],
				},
				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/playbill/img-4.jpg',
					date: '11.11.2021',
					tags: [
						'Творчество',
					],
				},
				{
					title: 'Кадры будущего для регионов',
					image: '../../images/content/playbill/img-2.jpg',
					date: '26.08.2020',
					tags: [
						'Образование',
						'Мастер-классы',
						'Культура и искусство',
					],
				},
			],
			persons: [
				{
					url: '',
					title: 'Менеджер по рекламе',
					image: '../../images/content/persons/img-1.jpg',
					name: 'Константин Константинопольский',
					position: 'Обладатель премии «Золотой клик» и «Серебряная паутина 2016» в номинации «Лучший сайт»',
				},
				{
					url: '',
					title: 'Заместитель директора по социальным вопросам',
					image: '../../images/content/persons/img-2.jpg',
					name: 'Олег Иванов',
					position: 'Руководитель',
				},
				{
					url: '',
					title: 'Менеджер',
					image: '../../images/content/persons/img-3.jpg',
					name: 'Константин Константинопольский',
					position: 'Куратор',
				},
				{
					url: '',
					title: 'Менеджер по рекламе',
					image: '../../images/content/persons/img-1.jpg',
					name: 'Константин Константинопольский',
					position: 'Обладатель премии «Золотой клик» и «Серебряная паутина 2016» в номинации «Лучший сайт»',
				},
				{
					url: '',
					title: 'Заместитель директора по социальным вопросам',
					image: '../../images/content/persons/img-2.jpg',
					name: 'Олег Иванов',
					position: 'Руководитель',
				},
				{
					url: '',
					title: 'Менеджер',
					image: '../../images/content/persons/img-3.jpg',
					name: 'Константин Константинопольский',
					position: 'Куратор',
				},
			],
		};

		switch (type) {
			case 'projects':
			case 'releases':
			case 'contests':
			case 'grants':
			case 'recipients':
				items = items.projects;
				break;
			case 'playbill':
			case 'news':
				items = items.playbill;
				break;
			case 'persons':
				items = items.persons;
				break;
		}

		items = items.slice(0, slice);

		items.forEach((item) => {
			if (!tags) {
				delete item.tags;
			}

			switch (type) {
				case 'projects':
					delete item.price;
					delete item.author;
					break;
				case 'releases':
					delete item.organizer;
					delete item.price;
					break;
				case 'contests':
				case 'grants':
					delete item.price;
					delete item.author;
					break;
				case 'recipients':
					delete item.organizer;
					delete item.author;
					break;
			}

			switch (type) {
				case 'projects':
					item.url = 'project.html';
					break;
				case 'releases':
					item.url = 'release.html';
					break;
				case 'contests':
					item.url = 'contest.html';
					break;
				case 'grants':
					item.url = 'grant.html';
					break;
				case 'recipients':
					item.url = 'recipient.html';
					break;
				case 'playbill':
					item.url = 'event.html';
					break;
				case 'news':
					item.url = 'new.html';
					break;
			}
		});

		return items;
	};
