mixin subsection({offsetColumn, anchor, title})
	section.subsection(class={[`subsection--offset-column-${offsetColumn}`]: offsetColumn})&attributes(attributes)
		if anchor
			.anchor(id=anchor)
		header.subsection__header
			.container.subsection__grid
				.subsection__column
					h2.subsection__title!= title
		.subsection__main
			.container.subsection__grid
				.subsection__column
					block
