include ../promo/promo

mixin subsection({offsetColumn, anchor, type, title})
	section.subsection(class={[`subsection--offset-column-${offsetColumn}`]: offsetColumn})&attributes(attributes)
		if anchor
			.anchor(id=anchor)

		case type
			when 'grants-recipients'
				+promo({
					offsetColumn: true,
					header: true,
					type: 'grants',
				})
			default
				header.subsection__header
					.container.subsection__grid
						.subsection__column
							h2.subsection__title!= title

		.subsection__main
			.container.subsection__grid
				.subsection__column
					block
