@mixin make-column($type) {
	.subsection__#{$type} .subsection__grid {
		display: grid;
		column-gap: var(--gap);
		grid-template-columns: repeat(4, 1fr);
	}

	.subsection__#{$type} .subsection__column {
		grid-column: 2 / 5;
	}
}

:root {
	--subsection__header-margin-bottom: 30rem;

	@include media-breakpoint-down(lg) {
		--subsection__header-margin-bottom: 20rem;
	}
}

.subsection {
	position: relative;

	&:not(:last-child) {
		margin-bottom: var(--gap-2xl);
	}

	&--reviews {
		padding: var(--gap-2xl) 0;
	}

	&--reviews-grants {
		background: $color-dolly;
	}

	@include media-breakpoint-up(lg) {
		&--offset-column-all,
		&--offset-column-header {
			@include make-column(header);
		}

		&--offset-column-all,
		&--offset-column-main {
			@include make-column(main);
		}
	}
}

.subsection__header {
	.subsection__column {
		display: flex;
		align-items: center;
	}

	&:not(:last-child) {
		margin-bottom: var(--subsection__header-margin-bottom);
	}
}

.subsection__title {
	flex: 1;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	font-size: var(--content-h2-font-size);
	line-height: $heading-line-height;
	color: $heading-color;
}

.subsection__header-button {
	--height: 55rem;
}
