@mixin make-column($container, $type: right) {
	.subsection__#{$container} .subsection__grid {
		display: grid;
		column-gap: var(--gap-md);
		grid-template-columns: repeat(if($type == right, 4, 6), 1fr);
	}

	.subsection__#{$container} .subsection__column {
		@if $type == right {
			grid-column: 2 / 5;
		} @else if $type == center {
			grid-column: 2 / 6;
		}
	}
}

.subsection {
	position: relative;

	&--related {
		padding: var(--gap-xxl) 0;
	}

	&--related-playbill {
		background: $color-blue-chalk;
	}

	&--related-news {
		background: $color-watusi;
	}

	&--reviews {
		padding: var(--gap-xxl) 0;
	}

	&--reviews-forums {
		background: $color-onahau-3;
	}

	&--reviews-projects {
		background: $color-aero-blue;
	}

	&--reviews-grants {
		background: $color-dolly;
	}

	@include media-breakpoint-up(lg) {
		&--offset-column-all,
		&--offset-column-header {
			@include make-column(header);
		}

		&--offset-column-all,
		&--offset-column-main {
			@include make-column(main);
		}

		&--offset-column-center {
			@include make-column(header, center);
			@include make-column(main, center);
		}
	}
}

.subsection__header {
	&:not(:last-child) {
		margin-bottom: var(--heading-interval-bottom);
	}
}

.subsection__column {
	&--grid {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--gap-md);

		.subsection__title {
			grid-column: 1 / 3;
		}
	}

	@include media-breakpoint-down(lg) {
		&--grid {
			grid-template-columns: repeat(auto-fit, minmax(min(322rem, 100%), 1fr));

			.subsection__title {
				grid-column: auto;
			}
		}
	}
}

.subsection__title {
	font-family: var(--heading-font-family);
	font-weight: var(--heading-font-weight);
	font-size: var(--heading-2-font-size);
	line-height: var(--heading-line-height);
	color: var(--heading-color);
}
