mixin subsection-section({title, titleTag = 'h3'} = {})
	section.subsection-section&attributes(attributes)
		header.subsection-section__header
			#{titleTag}.subsection-section__title(class=`subsection-section__title--${titleTag}`)!= title
		+content().subsection-section__main
			block
