block variables
	-
		let title = 'Webpack Starter';
		let bodyClassList = [];

	include data

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title= title

	body(class=bodyClassList)
		.app
			block body
