include mixins
include data
include ../components/date/date
include ../components/location/location
include ../components/button-arrow/button-arrow
include ../components/integration/integration
include ../components/breadcrumbs/breadcrumbs

block variables
	-
		let title = 'Молодёжно (Frontend)';
		let bodyClassList = [];
		let appClassList = [];

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title= title

	body(class=bodyClassList)
		.app(class=appClassList)
			block body
