-
	const events = {
		forums: [
			{
				title: 'Предпринимательский форум молодежи &laquo;Мой бизнес. От&nbsp;малого к&nbsp;Великому&raquo;',
				location: 'Тёсово-Нетыльский',
				date: '26.08 2020',
				image: '../../images/content/events/forums/img-1.jpg',
			},
			{
				title: 'От&nbsp;малого к&nbsp;Великому',
				location: 'Тёсово-Нетыльский',
				date: '26.08 2020',
				image: '../../images/content/events/forums/img-1.jpg',
			},
		],
	};
