-
	const sections = {
		forums: {
			title: 'Форумы',
			desc: `
				<p>Портал для молодёжи занимающийся реализацией молодёжной политики во&nbsp;всех актуальных и&nbsp;
				действующих направлениях данной отрасли</p>
			`,
		},
	};
