-
	const pages = [
		{
			url: 'home.html',
			title: 'Главная',
		},
		{
			url: 'grants.html',
			title: 'Гранты',
			pages: [
				{
					url: 'grant.html',
					title: 'Грант'
				},
			],
		},
		{
			url: 'recipients.html',
			title: 'Гранты получили',
			pages: [
				{
					url: 'recipient.html',
					title: 'Грантополучатель',
				},
			],
		},
		{
			url: 'forums.html',
			title: 'Форумы',
			pages: [
				{
					url: 'forum.html',
					title: 'Форум',
				},
			],
		},
		{
			url: 'press-center.html',
			title: 'Пресс-центр',
			pages: [
				{
					url: 'news.html',
					title: 'Новости',
					pages: [
						{
							url: 'new.html',
							title: 'Новость',
						},
					],
				},
			],
		},
		{
			url: 'playbill.html',
			title: 'Афиша',
			pages: [
				{
					url: 'event.html',
					title: 'Событие',
				},
			],
		},
		{
			url: 'projects.html',
			title: 'Проекты',
			pages: [
				{
					url: 'project.html',
					title: 'Проект',
				},
			],
		},
		{
			url: 'releases.html',
			title: 'Реализованные проекты',
			pages: [
				{
					url: 'release.html',
					title: 'Реализованный проект',
				},
			],
		},
		{
			url: 'contests.html',
			title: 'Конкурсы',
			pages: [
				{
					url: 'contest.html',
					title: 'Конкурс',
				},
			],
		},
		{
			url: 'winners.html',
			title: 'Победители',
			pages: [
				{
					url: 'winner.html',
					title: 'Победитель',
				},
			],
		},
		{
			url: 'activities.html',
			title: 'Деятельность',
			pages: [
				{
					url: 'direction.html',
					title: 'Направление деятельности',
				},
			],
		},
		{
			url: 'contacts.html',
			title: 'Контакты',
		},
		{
			url: 'about.html',
			title: 'О проекте',
		},
	];
