extends ../../pug/base
include ../../components/header/header
include ../../components/footer/footer
include ../../components/slider/slider
include ../../components/promo/promo
include ../../components/quote/quote
include ../../components/infographics/infographics
include ../../components/directions/directions

append variables
	-
		title = 'Молодёжно - Frontend';

block body
	+header().header--no-border-bottom
	main.app__main
		+slider()
		.app__group
			+promo()
			+infographics()
			+quote('Молодёжно')
				p Сегодня Дом молодёжи&nbsp;&mdash; это команда профессионалов, которые отвечают за&nbsp;основные направления современной молодёжной политики.
		+directions()
	+footer()
