extends /pug/base

include /components/header/header
include /components/footer/footer

append variables
	-
		title = `${title} - Guide`;

block app
	+header()

	main.app__main
		+container().guide
			+content()
				h2 Pages

				+pages(pages)

				h1 h1: Конкурс среди организаций высшего образования

				h2 h2: Конкурс среди организаций высшего образования

				h3 h3: Конкурс среди организаций высшего образования

				h4 h4: Конкурс среди организаций высшего образования

				h5 h5: Конкурс среди организаций высшего образования

				h6 h6: Конкурс среди организаций высшего образования

				a(href="#location") Anchor link

				p.
					Это #[strong информационно-познавательный] портал для молодёжи #[em Новгородской области], занимающийся реализацией
					#[a(href) молодёжной политики] во всех #[a актуальных] и действующих направлениях данной отрасли.
					Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
					молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
					Это информационно-познавательный портал для молодёжи.

				p.
					Новгородской области, занимающийся реализацией молодёжной политики во всех актуальных
					и действующих направлениях данной отрасли.

				ul
					li.
						30 октября в Батецком районе будет дан старт областному походу по местам боевых сражений.
						К нему присоединятся активисты военно-патриотических клубов, центров, объединений и представители
						поисковых отрядов Новгородской области.
					li.
						Поход продлится до 1 ноября и будет посвящен боевому пути 1-й Ленинградской стрелковой дивизии
						народного ополчения, которая в июле 1941 года высадилась на станции Батецкая и заняла оборону
						на Лужском рубеже.
					li.
						В первый день участники познакомятся с виртуальной экспозицией, посвященной 1-й Кировской дивизии
						народного ополчения, посетят Исторический памятник древнеславянской культуры «Шум-Гора».

				img(src="/images/content/cat.jpg" alt="" width="auto")

				h2#button(data-scroll): code button

				+button({content: "'Синяя кнопка'"})
				div &nbsp;
				+button({content: "'Синяя кнопка'"}).button--height-sm

				h2: code button-arrow

				+button-arrow({dir: 'left'})(disabled)
				div &nbsp;
				+button-arrow()

				h2: code button-arrow-text

				+button-arrow-text({
					tag: 'button',
					content: "'Смотреть все'",
				})
				div &nbsp;
				+button-arrow-text({
					dir: 'left',
					content: "'Смотреть все'",
				})
				div &nbsp;
				+button-arrow-text({
					row: true,
					content: "'Смотреть все'",
				})
				div &nbsp;
				+button-arrow-text({
					dir: 'left',
					row: true,
					content: "'Смотреть все'",
				})

				h2: code button-expand

				+button-expand({content: "'Развернуть'"})
				div &nbsp;
				+button-expand({
					dir: 'up',
					content: "'Свернуть'",
				})

				h2: code button-load

				+button-load({content: "'Загрузить еще'"})
				div &nbsp;
				+button-load({content: "'Загрузить еще'"}).is-loading

				h2#date(data-scroll): code date

				+date('26.10.2020')
				div &nbsp;
				+date('26.10.2020', '30.10.2020')
				div &nbsp;
				div(style={'max-width': '200px'}): +date('26.10.2020', '30.10.2020')

				h3: code adaptive

				+date('26.10.2020', null, true)
				div &nbsp;
				+date('26.10.2020', '30.10.2020', true)

				h2: code organizer

				+organizer({
					title: 'Молодежный центр',
					image: '../../images/content/projects/logo.png',
				})(style={'max-width': '255px'})
				div &nbsp;
				+organizer({
					title: 'Ресурсный Молодежный центр длинный заголовок',
					image: '../../images/content/projects/logo.png',
				})(style={'max-width': '255px'})

				h3: code line-clamp

				+organizer({
					title: 'Молодежный центр',
					image: '../../images/content/projects/logo.png',
					lineClamp: true,
				})(style={'max-width': '255px'})
				div &nbsp;
				+organizer({
					title: 'Ресурсный Молодежный центр длинный заголовок',
					image: '../../images/content/projects/logo.png',
					lineClamp: true,
				})(style={'max-width': '255px'})
				div &nbsp;
				+organizer({
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
					lineClamp: true,
				})(style={'max-width': '555px'})

				h2: code author

				+author({
					title: 'Константинопольская Александра',
					image: '../../images/content/projects/authors/img-1.jpg',
				})(style={'max-width': '255px'})

				h2#location(data-scroll): code location

				+location('Тёсово-Нетыльский')
				div &nbsp;
				+location('Тёсово-Нетыльский')(style={'max-width': '150px'})

				h2: code doc-item

				+doc-item({
					type: 'pdf',
					title: 'Документы для участия'
				})
				div &nbsp;
				div(style="max-width: 100px")
					+doc-item({
						type: 'pdf',
						title: 'Документыдляучастия'
					})
				div &nbsp;
				+doc-item({
					type: 'pdf',
					title: 'Документы для участия'
				}).doc-item--lg

	+footer()
