extends ../../pug/base
include ../../components/header/header
include ../../components/footer/footer

append variables
	-
		title = `${title} - Guide`;

append body-start
	style.
		li {
			margin: 0.5em 0;
			list-style: decimal;
		}

		a {
			color: #595fe4;
		}

block body
	+header()

	main.app__main
		.container
			h2 Pages
			-
				const pages = [
					{
						url: 'home.html',
						title: 'Главная',
					},
					{
						url: 'grants.html',
						title: 'Гранты',
						pages: [
							{
								url: 'grant.html',
								title: 'Грант'
							},
						],
					},
					{
						url: 'grants-recipients.html',
						title: 'Гранты получили',
						pages: [
							{
								url: 'grant-recipient.html',
								title: 'Грантополучатель',
							},
						],
					},
				];

			if pages.length
				ol
					each page in pages
						li: a(href=page.url target="_blank")= page.title
							if page.pages
								ol
									each subpage in page.pages
										li: a(href=subpage.url target="_blank")= subpage.title

	+footer()
