.swiper-fraction__footer {
	display: flex;
	column-gap: var(--gap);
	align-items: center;
	justify-content: space-between;
	margin-top: 35rem;

	@include media-breakpoint-down(lg) {
		margin-top: 15rem;
	}
}

.swiper-fraction__pagination {
	display: flex;
	column-gap: em(15, 24);
	flex: 1;
	font-family: var(--heading-font-family);
	font-weight: 300;
	font-size: 24rem;
	line-height: 1.25;
	color: var(--color);
	user-select: none;

	@include media-breakpoint-down(lg) {
		font-size: 16rem;
	}
}

.swiper-fraction__pagination-current {
	font-weight: 700;
}

.swiper-fraction__navigation {
	display: flex;
	column-gap: var(--gap);

	@include media-breakpoint-down(lg) {
		display: none;
	}
}
