extends ../../pug/base
include ../../components/header/header
include ../../components/footer/footer

append variables
	-
		title = `${title} - Грант`;

block body
	+header()

	main.app__main
		+breadcrumbs([
			{
				url: 'grants.html',
				content: 'Гранты',
			},
			'Конкурс среди организаций высшего образования',
		]).container.app__breadcrumbs
		.container.content
			h1 Конкурс среди организаций высшего образования
			h2 О гранте
			h3 Заголовок списка
			h4 Заголовок списка
			h5 Заголовок списка
			h6 Заголовок списка
			ul
				li.
					30 октября в Батецком районе будет дан старт областному походу по местам боевых сражений.
					К нему присоединятся активисты военно-патриотических клубов, центров, объединений и представители
					поисковых отрядов Новгородской области.
				li.
					Поход продлится до 1 ноября и будет посвящен боевому пути 1-й Ленинградской стрелковой дивизии
					народного ополчения, которая в июле 1941 года высадилась на станции Батецкая и заняла оборону
					на Лужском рубеже.
				li.
					В первый день участники познакомятся с виртуальной экспозицией, посвященной 1-й Кировской дивизии
					народного ополчения, посетят Исторический памятник древнеславянской культуры «Шум-Гора».
			p.
				Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
				молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
				Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
				молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
				Это информационно-познавательный портал для молодёжи.
			p.
				Новгородской области, занимающийся реализацией молодёжной политики во всех актуальных
				и действующих направлениях данной отрасли.

	+footer()
