.gallery-slider__main {
	overflow: hidden;

	@include media-breakpoint-up(lg) {
		box-shadow: 10rem 10rem $color-primary;
	}

	@include media-breakpoint-down(lg) {
		--gap: 3rem;

		margin: 0 calc(-1 * var(--container-content-offset-x));
	}
}

.gallery-slider__main-inner {
	overflow: visible;
	margin: 0 calc(-0.5 * var(--gap));
}

.gallery-slider__item {
	--height: #{cw(500, 825)};

	position: relative;
	margin: 0 calc(0.5 * var(--gap));
	width: calc(100% - var(--gap));

	&::before {
		content: "";
		display: block;
		padding-top: min(var(--height), #{vh(100)} - var(--header-sticky-height));
	}

	@include media-breakpoint-down(lg) {
		--height: #{cw(250, 340)};

		width: calc(100% - var(--gap) - var(--container-content-offset-x));
	}
}

.gallery-slider__image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
