include ../swiper-fraction/swiper-fraction

mixin gallery-slider(items)
	+swiper-fraction().gallery-slider&attributes(attributes)
		.gallery-slider__main
			.swiper.gallery-slider__main-inner(x-ref="swiper")
				.swiper-wrapper
					each item in items
						.swiper-slide.gallery-slider__item
							+img-2x().swiper-slide.gallery-slider__image(src=item)
