.gallery-slider__main {
	overflow: hidden;

	@include media-up(lg) {
		box-shadow: 10rem 10rem var(--color-primary);
	}

	@include media-down(lg) {
		--gap: 3rem;

		margin: 0 calc(-1 * var(--container-content-offset));
	}
}

.gallery-slider__main-inner {
	overflow: visible;
	margin: 0 calc(-0.5 * var(--gap-md));
}

.gallery-slider__item {
	--height: #{cw(500, 825)};

	position: relative;
	margin: 0 calc(0.5 * var(--gap-md));
	width: calc(100% - var(--gap-md));

	&::before {
		content: "";
		display: block;
		padding-top: min(var(--height), #{vh(100)} - var(--header--sticky-height));
	}

	@include media-down(lg) {
		--height: #{cw(250, 340)};

		width: calc(100% - var(--gap-md) - var(--container-content-offset));
	}
}

.gallery-slider__image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
