extends ../../pug/base

block document
	include ../../components/gallery/data

	each galleryItem in gallery
		a.gallery__item(href=galleryItem.imageFullSize)
			+img-2x().gallery__image(src=galleryItem.image)

