extends ../../pug/base
include ../../components/card-item/card-item

block document
	include ../../components/card-list/data

	each item in data.projects
		+card-item(item).card-item--style-group-6.card-list__item
