extends ../../pug/base

include ../../components/card-item/card-item
include ../../components/person-item/person-item

append variables
	-
		let type = 'projects';
		let slice;
		let tags = true;
		let columns = 3;

block document
	include ../../components/cards/data

	-
		let items = data(type, slice, tags);

	-
		const itemAttrs = {
			class: slice ? [
				'column-span-3-lg-up',
				'column-4-lg-down',
				'column-6-md-down',
				'column-10-sm-down',
			] : [
				'column-span-3',
				'column-span-4-lg-down',
				'column-span-6-md-down',
				'column-span-12-sm-down',
			],
			'x-bind:class': slice ? "{'swiper-slide': !$store.isDesktop}" : null,
		};

	each item in items
		case type
			when 'persons'
				+person-item(item).cards__item&attributes(itemAttrs)
			default
				+card-item(item).cards__item(class=`card-item--style-group-${columns * 2}`)&attributes(itemAttrs)
