extends ../../pug/base

include ../../components/card-item/card-item

append variables
	-
		let type = 'projects';
		let last;

block document
	include ../../components/cards/data

	-
		let [items, isRecipients, isEvents] = data(type, last);

	if last
		each item in items
			+card-item(item).cards__item(
				class={
					'card-item--style-group-8': !isRecipients && !isEvents,
					'card-item--style-group-6': isRecipients,
					'card-item--style-group-4': isEvents,
				}
				x-bind:class="{'swiper-slide': !$store.isDesktop}"
			)
	else
		each item in items
			+card-item(item).card-item--style-group-6.cards__item
