extends ../../pug/base

include ../../components/header/header
include ../../components/footer/footer

include ../../components/nav-aside/nav-aside

include ../../components/subsection-section/subsection-section
include ../../components/subsection/subsection
include ../../components/section/section

append variables
	-
		title = `${title} - Деятельность`;
		let activities = [
			{
				url: 'activities-direction.html',
				content: 'Волонтерство',
			},
			{
				url: 'activities-direction.html',
				content: 'Инновационная деятельность и научно-техническое творчество',
			},
			{
				url: 'activities-direction.html',
				content: 'Культура и творчество',
			},
			{
				url: 'activities-direction.html',
				content: 'Молодые семьи',
			},
			{
				url: 'activities-direction.html',
				content: 'Образование и карьера',
			},
			{
				url: 'activities-direction.html',
				content: 'Патриотическое воспитание',
			},
			{
				url: 'activities-direction.html',
				content: 'Предпринимательство',
			},
			{
				url: 'activities-direction.html',
				content: 'Самоуправление',
			},
			{
				url: 'activities-direction.html',
				content: 'Сельское хозяйство и молодёжь на селе',
			},
			{
				url: 'activities-direction.html',
				content: 'Спорт и ЗОЖ',
			},
			{
				url: 'activities-direction.html',
				content: 'Социальная защита',
			},
			{
				url: 'activities-direction.html',
				content: 'Социальная адаптация',
			},
			{
				url: 'activities-direction.html',
				content: 'Строительство и жильё',
			},
			{
				url: 'activities-direction.html',
				content: 'Экология',
			},
		];

block app
	+header()

	main.app__main
		+container().app__breadcrumbs
			+breadcrumbs(['Деятельность'])

		+section({
			type: 'activities',
			title: 'Деятельность',
			desc: `<p>Портал для молодёжи занимающийся реализацией молодёжной политики во&nbsp;всех актуальных
и&nbsp;действующих направлениях данной отрасли</p>`,
			score: {
				title: 'Направлений',
				number: 14,
			},
			advanced: true,
		})
			+container().section__grid
				aside.section__grid-aside.hidden-lg-down
					+nav-aside(activities)

				.section__grid-main
					+content()
						| fdsfds

	+footer()
