extends ../../pug/base

include ../../components/header/header
include ../../components/footer/footer

include ../../components/section-nav/section-nav
include ../../components/filters/filters
include ../../components/cards/cards
include ../../components/promo/promo

include ../../components/subsection-section/subsection-section
include ../../components/subsection/subsection
include ../../components/section/section

append variables
	-
		title = `${title} - Деятельность`;

block app
	+header()

	main.app__main
		+container().app__breadcrumbs
			+breadcrumbs(['Деятельность'])

		+section({
			type: 'activities',
			title: 'Деятельность',
			desc: `<p>Портал для молодёжи занимающийся реализацией молодёжной политики во&nbsp;всех актуальных
и&nbsp;действующих направлениях данной отрасли</p>`,
			score: {
				title: 'Направлений',
				number: 14,
			},
			advanced: true,
		})
			+container().section__grid
				+section-nav([
					{
						url: 'grants.html',
						content: 'Гранты',
						isActive: true,
					},
					{
						url: 'recipients.html',
						content: 'Гранты получили',
						isActive: false,
					},
				]).hidden-lg-up

				aside.section__grid-aside
					+section-nav([
						{
							url: 'grants.html',
							content: 'Гранты',
							isActive: true,
						},
						{
							url: 'recipients.html',
							content: 'Гранты получили',
							isActive: false,
						},
					]).hidden-lg-down

					+filters([
						{
							content: 'Все',
							quantity: 991
						},
						{
							content: 'Бизнес',
							quantity: 132
						},
						{
							content: 'Образование',
							quantity: 53
						},
						{
							content: 'HR',
							quantity: 4
						},
						{
							content: 'Производство',
							quantity: 8
						},
						{
							content: 'Творчество',
							quantity: 76
						},
					])

				.section__grid-main
					+content()
						+cards({type: 'grants'})

		+promo({type: 'grants'})

	+footer()
