.heading {
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	font-size: var(--content-edited-h1-font-size);
	line-height: $heading-line-height;
	color: $heading-color;

	&:not(:last-child) {
		margin-bottom: var(--gap-sm);
	}
}
