.heading {
	font-family: $heading-font-family;
	font-weight: 700;
	font-size: 60rem;
	line-height: 1.25;
	color: $heading-color;

	&:not(:last-child) {
		margin-bottom: var(--gap-sm);
	}

	@include media-breakpoint-down(lg) {
		font-size: 40rem;
	}
}
