.project-item {
	display: flex;
	flex-flow: column;
	border-top: 1px solid $color-black;
	padding-top: 26rem;
	color: $color;

	@include hover {
		.project-item__image-el {
			transform: $image-hover-transform;
		}
	}

	&:nth-child(4n + 2) {
		.project-item__image {
			border-radius: 50%;
		}
	}

	&:nth-child(4n + 3) {
		.project-item__image {
			border-radius: 50% 0 0 50%;
		}
	}
}

.project-item__group {
	display: flex;
	align-items: center;
	height: 54rem;

	&:not(:last-child) {
		margin-bottom: 23rem;
	}
}

.project-item__group-title {
	@include line-clamp(3, 1.29);

	flex: 1;
	margin-right: 10rem;
	font-size: 14rem;
	word-wrap: break-word;
}

.project-item__group-logo {
	width: 152rem;
	height: 49rem;
	object-fit: contain;
	object-position: 100%;
}

.project-item__title {
	@include line-clamp(4, 1.4);

	font-family: $heading-font-family;
	font-weight: 500;
	font-size: 20rem;
	word-wrap: break-word;

	&:not(:last-child) {
		margin-bottom: 23rem;
	}
}

.project-item__image {
	position: relative;
	overflow: hidden;
	margin-top: auto;

	&::before {
		content: "";
		display: block;
		padding-top: 100%;
	}
}

.project-item__image-el {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: $image-transition;
}
