extends ../../pug/base

include ../../components/header/header
include ../../components/footer/footer

include ../../components/events-slider/events-slider
include ../../components/section-nav/section-nav
include ../../components/filters/filters
include ../../components/cards/cards

include ../../components/section/section

append variables
	-
		title = `${title} - Новости и события`;

block app
	+header()

	main.app__main
		+container().app__breadcrumbs
			+breadcrumbs([
				{
					url: 'press-center.html',
					content: 'Пресс-центр',
				},
				'Новости и события',
			])

		+section({
			type: 'news',
			title: 'Новости и события',
			advanced: true,
			withoutImage: true,
		})
			+container().section__grid
				+section-nav([
					{
						url: 'news.html',
						content: 'Новости и события',
						isActive: true,
					},
					{
						url: 'news.html',
						content: 'СМИ о нас',
						isActive: false,
					},
				]).hidden-lg-up

				+events-slider().section__events-slider

				aside.section__grid-aside
					+section-nav([
						{
							url: 'news.html',
							content: 'Новости и события',
							isActive: true,
						},
						{
							url: 'news.html',
							content: 'СМИ о нас',
							isActive: false,
						},
					]).hidden-lg-down

					+filters([
						{
							content: 'Все',
							quantity: 991
						},
						{
							content: 'Бизнес',
							quantity: 132
						},
						{
							content: 'Образование',
							quantity: 53
						},
						{
							content: 'HR',
							quantity: 4
						},
						{
							content: 'Производство',
							quantity: 8
						},
						{
							content: 'Творчество',
							quantity: 76
						},
					])

				.section__grid-main
					+content()
						+cards({type: 'news'})

	+footer()
