.events-slider {
	@include media-up(lg) {
		.swiper-fraction__footer {
			display: none;
		}
	}
}

.events-slider__main {
	overflow: hidden;
	margin-right: calc(-1 * var(--container-content-offset));
	margin-left: calc(-1 * var(--container-content-offset));
	padding-right: var(--container-content-offset);
	padding-left: var(--container-content-offset);

	@include media-down(lg) {
		--gap: 3rem;
	}
}

.events-slider__main-inner {
	overflow: visible;
	margin: 0 calc(-0.5 * var(--gap-md));
}

.events-slider__item {
	margin: 0 calc(0.5 * var(--gap-md));
}
