.events-slider {
	@include media-breakpoint-up(lg) {
		.swiper-fraction__footer {
			display: none;
		}
	}
}

.events-slider__main {
	overflow: hidden;
	margin-right: calc(-1 * var(--container--content-offset-from-body));
	margin-left: calc(-1 * var(--container--content-offset-from-body));
	padding-right: var(--container--content-offset-from-body);
	padding-left: var(--container--content-offset-from-body);

	@include media-breakpoint-down(lg) {
		--gap: 3rem;
	}
}

.events-slider__main-inner {
	overflow: visible;
	margin: 0 calc(-0.5 * var(--gap));
}

.events-slider__item {
	margin: 0 calc(0.5 * var(--gap));
}
