extends ../../pug/base
include ../../components/header/header
include ../../components/footer/footer

append variables
	-
		title = `${title} - Грантополучатель`;

block body
	+header()

	main.app__main
		+breadcrumbs([
			{
				url: 'grants-recipients.html',
				content: 'Гранты получили',
			},
			'Создание проектного офиса для обучения молодёжи лидерским качествам',
		]).container.app__breadcrumbs

	+footer()
