mixin marquee()
	-
		const items = [
			'Научно-техническое творчество',
			'Спорт и ЗОЖ',
			'Культура и творчество',
			'Предпринимательство',
			'Инновационная деятельность',
		];

	.marquee(
		x-data="marquee"
		x-on:mouseenter="stop"
		x-on:mouseleave="play"
	)&attributes(attributes)
		.marquee__container(x-ref="container")
			template(x-for="list in listCount")
				.marquee__list
					each item in items
						a.marquee__item(
							href=""
							data-content=item
							x-on:mouseenter="showTooltip"
							x-on:mouseleave="hideTooltip"
						)= item
							.marquee__tooltip.is-hidden
