.section-feedback {
	position: relative;
	z-index: 0;
	overflow: hidden;
	padding: 90rem 0 var(--gap-xxxl);
	background: var(--gradient-section);

	.app__main > .section:last-child > .section__main:last-child > .content:last-child > &,
	.app__main > .section-about:last-child > .content:last-child > & {
		&:last-child {
			margin-bottom: calc(-1 * var(--app--main-gap-bottom));
		}
	}

	@include media-breakpoint-down(lg) {
		padding-top: 45rem;
	}
}

.section-feedback__image {
	position: absolute;
	right: calc(var(--content-offset) - 83rem - 45rem);
	top: 0;
	bottom: 0;
	z-index: -1;
	display: flex;
	flex-flow: column;
	padding: var(--gap-md) 0;
	width: 529rem;

	img {
		margin: auto 0;
		height: auto;
	}

	@include media-breakpoint-down(lg) {
		display: none;
	}
}
