include ../form-feedback/form-feedback

mixin section-feedback()
	section.section-feedback&attributes(attributes)
		+container().grid
			+picture-webp().section-feedback__image(
				src="../../images/design/feedback.png"
				srcset="2x"
			)
			+form-feedback({title: 'Связаться с&nbsp;нами'}).section-feedback__form-feedback.column-span-9.column-span-12-lg-down
