:root {
	--header--height: 140rem;
	--header--sticky-height: 50rem;

	@include media-down(lg) {
		--header--height: min(60rem, 1.2 * 60px);
		--header--sticky-height: var(--header--height);
	}
}

.header {
	position: sticky;
	top: calc(var(--header--sticky-height) - var(--header--height));
	z-index: 100;
	display: flex;
	flex-flow: column;
	height: var(--header--height);
	background: var(--bg-color);
	user-select: none;

	&.is-sticky {
		.header__main {
			margin-top: auto;
		}

		.header__grid {
			grid-template-columns: 94fr 830fr 186fr;
			grid-template-rows: 1px calc(var(--header--sticky-height) - 1px);
		}

		.header__grid::before,
		.header__grid::after {
			content: "";
			align-self: stretch;
			grid-column: span 3;
		}

		.header__grid::after {
			margin-bottom: -1px;
			background: currentcolor;
		}

		.header__visually {
			display: none;
		}

		.header__info {
			grid-template-columns: 1fr;
		}

		.header__info-item {
			display: none;
		}

		.header__logo {
			justify-self: start;
			width: 36rem;
		}

		.header__soc-network {
			column-gap: 40rem;
			grid-column: 3;
		}

		.header__nav {
			grid-column: 2;
			grid-row: 2;
			border: 0;
			box-shadow: none;
		}

		.nav__item {
			font-size: 13rem;
		}
	}

	&--no-border-bottom {
		.header__nav {
			box-shadow: none;
		}
	}

	@media print {
		display: none;
	}
}

.header__mob {
	display: flex;
	column-gap: 20rem;
	align-items: center;
	height: 100%;
}

.header__button-menu {
	position: relative;
	flex-shrink: 0;
	margin-left: auto;
	border: 0;
	width: min(37rem, 1.2 * 37px);
	height: min(24rem, 1.2 * 24px);
	background: none;

	&::before,
	&::after,
	span {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		border-top: 1px solid var(--heading-color);
		width: 100%;
		transition: var(--duration);
	}

	&::before {
		transform: translate(-50%, max(-12rem, 1.2 * -12px));
	}

	&::after {
		transform: translate(-50%, min(12rem, 1.2 * 12px));
	}

	span {
		transform: translate(-50%);
	}

	&.is-open {
		&::before {
			width: 44rem;
			transform: translate(-50%, 0) rotate(32deg);
		}

		&::after {
			width: 44rem;
			transform: translate(-50%, 0) rotate(-32deg);
		}

		span {
			width: 0;
			opacity: 0;
		}
	}
}

.header__main {
	@include media-down(lg) {
		position: fixed;
		left: 0;
		right: 0;
		top: var(--header--height);
		bottom: 0;
		z-index: 100;
		background: inherit;
	}
}

.header__grid {
	display: grid;
	align-items: center;
	grid-template-columns: 202fr 228fr + 250fr + 228fr 202fr;
	grid-template-rows: calc(var(--header--height) - var(--header--sticky-height)) var(--header--sticky-height);

	@include media-down(lg) {
		align-items: stretch;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto auto;
		padding-top: 26px;
		padding-bottom: 26px;
		height: 100%;
		row-gap: 28rem;
	}
}

.header__visually {
	display: grid;
	column-gap: 10rem;
	align-items: center;
	justify-self: start;
	grid-template-columns: 44rem 1fr;
	font-family: var(--heading-font-family);
	font-weight: 700;
	font-size: 14rem;
	line-height: div(17, 14);
	text-transform: uppercase;
	color: $color-black;
	transition: color var(--duration);
	user-select: none;

	@include hover {
		color: var(--color-primary);
	}
}

.header__info {
	display: grid;
	align-items: center;
	grid-template-columns: 228fr 250fr 228fr;

	@include media-down(lg) {
		column-gap: 20rem;
		grid-template-columns: 1fr 1fr;
		border-top: 1px solid var(--heading-color);
		border-bottom: 1px solid var(--heading-color);
		padding-top: 23px;
		padding-bottom: 23px;
	}
}

.header__info-item {
	margin-left: 48rem;
	font-size: 9rem;
	line-height: div(11, 9);
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: $color-cerulean-blue;

	@include hover {
		text-decoration: underline;
	}

	&:first-child {
		margin-right: 48rem;
		margin-left: 0;
		text-align: right;
	}

	@include media-down(lg) {
		margin: 0;
		font-size: 12rem;
		line-height: 1.5;

		&:first-child {
			margin: 0;
			text-align: left;
		}
	}
}

.header__logo {
	justify-self: center;
	width: 250rem;
	max-width: 100%;

	@include media-down(lg) {
		width: min(180rem, 1.2 * 180px);
	}
}

.header__logo-image {
	width: 100%;
}

.header__soc-network {
	column-gap: 60rem;
	justify-self: end;

	@include media-down(lg) {
		justify-self: start;
	}
}

.header__nav {
	align-self: stretch;
	grid-column: span 3;

	@include media-down(lg) {
		grid-column: 1;
		grid-row: 1;
		overflow-y: auto;
	}
}
