.card-details {
	position: relative;
	padding: 45rem 65rem 60rem 95rem;
	background: $color-white;

	@include media-breakpoint-down(lg) {
		padding: 25rem var(--container-gap) 30rem;
	}
}

.card-details__breadcrumbs {
	&:not(:last-child) {
		margin-bottom: 15rem;
	}

	@include media-breakpoint-down(lg) {
		display: none;
	}
}

.card-details__title {
	&:not(:last-child) {
		margin-bottom: 30rem;
	}
}

.card-details__info {
	display: grid;

	&:not(:last-child) {
		margin-bottom: 30rem;
	}

	@include media-breakpoint-up(lg) {
		grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
	}

	@include media-breakpoint-down(lg) {
		&:not(:last-child) {
			margin-bottom: 25rem;
		}
	}
}

.card-details__info-column {
	--padding-y: 15rem;

	position: relative;
	display: grid;
	align-content: center;
	border-top: 1px solid $color;
	border-bottom: 1px solid $color;
	padding: var(--padding-y) 0;
	row-gap: 10rem;

	@include media-breakpoint-up(lg) {
		&:nth-child(2n + 3),
		&:nth-child(2n + 4) {
			border-top: 0;
		}

		&:nth-child(2n + 1):not(:only-child) {
			padding-right: var(--gap);
		}

		&:nth-child(2n + 2) {
			padding-left: var(--gap);

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: var(--padding-y);
				bottom: var(--padding-y);
				border-left: 1px solid $color;
			}
		}
	}

	@include media-breakpoint-down(lg) {
		--padding-y: 10rem;

		row-gap: 5rem;

		&:nth-child(n + 2) {
			border-top: 0;
		}
	}
}

.card-details__content {
	display: grid;
	color: $color;
	gap: 20rem calc(2 * var(--gap));

	@include media-breakpoint-up(lg) {
		grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	}
}

.card-details__content-item {
	--content-edited-heading-indent-bottom: 15rem;

	table:not(:first-child) {
		margin-top: var(--content-edited-indent);
	}

	table:not(:last-child) {
		margin-bottom: var(--content-edited-indent);
	}

	&:not(:last-child) {
		margin-bottom: 20rem;
	}

	@include media-breakpoint-down(lg) {
		--content-edited-font-size: 14rem;
		--content-edited-heading-indent-bottom: 10rem;

		&:not(:last-child) {
			margin-bottom: 15rem;
		}
	}
}

.card-details__button {
	--width: 100%;
}
