mixin card-details(type)
	.card-details&attributes(attributes)
		.anchor#card
		case type
			when 'forum'
				+breadcrumbs([
					{
						url: 'forums.html',
						content: 'Форумы',
					},
					'Новгородский форум',
				]).card-details__breadcrumbs

				+heading().card-details__title Новгородский форум

				.card-details__info
					.card-details__info-column
						+date('26.10.2020', '30.10.2021', true)
					.card-details__info-column
						+location('Тёсово-Нетыльский')
						+tags(['Бизнес-мероприятия'])

				.card-details__content
					section.card-details__content-column
						+content().card-details__content-item
							h2.h5 Участникам
							table
								tr
									td Место
									td.
										г. Великий Новгород, БЦ&nbsp;Молодость и&nbsp;жизнь, ул. Название улицы,
										123, стр&nbsp;2, корп&nbsp;А
								tr
									td Организатор
									td
										| Ресурсный молодёжный центр
										br
										a(href="mailto:site@info.ru") site@info.ru

					section.card-details__content-column
						+content().card-details__content-item
							h2.h5 Регистрация
							p По вопросам регистрации или участия в мероприятии обращайтесь:
							table
								tr
									td Телефон
									td #[a(href="tel:+74951234567") +7 (495) 123-45-67]
								tr
									td E-mail
									td: a(href="mailto:info@support.ru") info@support.ru
						+button({
							tag: 'a',
							content: "'Подать заявку'",
						}).button--height-sm.card-details__button
			when 'project'
				+breadcrumbs([
					{
						url: 'projects.html',
						content: 'Проекты',
					},
					'Кадры будущего',
				]).card-details__breadcrumbs

				+heading().card-details__title Кадры будущего

				.card-details__info
					.card-details__info-column
						+date('26.10.2020', '30.10.2021', true)
					.card-details__info-column
						+location('Новгородская область')
						+tags(['Образование'])

				.card-details__content
					section.card-details__content-column
						+content().card-details__content-item
							h2.h5 Участникам
							table
								tr
									td Для кого
									td для учителей всех категорий подготовки
								tr
									td Как принять участие
									td
										+doc-item({
											type: 'pdf',
											title: 'Документы для участия',
										})

					section.card-details__content-column
						+content().card-details__content-item
							h2.h5 Регистрация
							table
								tr
									td Телефон
									td #[a(href="tel:+74951234567") +7 (495) 123-45-67]
								tr
									td E-mail
									td: a(href="mailto:info@support.ru") info@support.ru
						+button({
							tag: 'a',
							content: "'Подать заявку'",
						}).button--height-sm.card-details__button
			when 'contest'
				+breadcrumbs([
					{
						url: 'contests.html',
						content: 'Конкурсы',
					},
					'Кадры будущего',
				]).card-details__breadcrumbs

				+heading().card-details__title Кадры будущего

				.card-details__info
					.card-details__info-column
						+date('26.10.2020', '30.10.2021', true)
					.card-details__info-column
						+location('Новгородская область')
						+tags(['Образование'])

				.card-details__content
					section.card-details__content-column
						+content().card-details__content-item
							h2.h5 Участникам
							table
								tr
									td Для кого
									td для учителей всех категорий подготовки
								tr
									td Как принять участие
									td
										+doc-item({
											type: 'pdf',
											title: 'Документы для участия',
										})

					section.card-details__content-column
						+content().card-details__content-item
							h2.h5 Регистрация
							table
								tr
									td Телефон
									td #[a(href="tel:+74951234567") +7 (495) 123-45-67]
								tr
									td E-mail
									td: a(href="mailto:info@support.ru") info@support.ru
						+button({
							tag: 'a',
							content: "'Подать заявку'",
						}).button--height-sm.card-details__button
			when 'grant'
				+breadcrumbs([
					{
						url: 'grants.html',
						content: 'Гранты',
					},
					'Конкурс среди организаций высшего образования',
				]).card-details__breadcrumbs

				+heading().card-details__title Конкурс среди организаций высшего образования

				.card-details__info
					.card-details__info-column
						+date('26.10.2020', '30.10.2021', true)
					.card-details__info-column
						+organizer({
							title: 'Ресурсный Молодежный центр',
							image: '../../images/content/projects/logo.png',
						})

				.card-details__content
					section.card-details__content-column
						+content().card-details__content-item
							h2.h5 Участникам
							table
								tr
									td Сумма гранта
									td до #[span(x-init="$el.innerHTML = (+$el.textContent).toLocaleString('ru') + '&nbsp;&#8381;'") 15000000]
								tr
									td Организатор
									td
										| Ресурсный молодёжный центр
										br
										a(href="mailto:site@info.ru") site@info.ru

					section.card-details__content-column
						+content().card-details__content-item
							h2.h5 Регистрация
							table
								tr
									td Телефон
									td #[a(href="tel:+74951234567") +7 (495) 123-45-67]
								tr
									td E-mail
									td: a(href="mailto:info@support.ru") info@support.ru
						+button({
							tag: 'a',
							content: "'Подать заявку'",
						}).button--height-sm.card-details__button
			when 'direction'
				+breadcrumbs([
					{
						url: 'activities.html',
						content: 'Деятельность',
					},
					'Инновационная деятельность и научно-техническое творчество',
				]).card-details__breadcrumbs

				+heading().card-details__title Инновационная деятельность и научно-техническое творчество

				.card-details__organizer
					.card-details__organizer-column
						+content().card-details__content-item.card-details__content-item--organizer
							table
								tr
									td Организатор
									td
										| Ресурсный молодёжный центр
										br
										a(href="mailto:site@info.ru") site@info.ru

					.card-details__organizer-column
						+img-2x().card-details__organizer-logo(src="../../images/content/projects/logo.png")
