.card-details {
	padding: 45rem var(--column-1) 60rem var(--column-offset-1);
	background: $color-white;

	@include media-down(lg) {
		padding: 25rem var(--container--padding) 30rem;
	}
}

.card-details__breadcrumbs {
	&:not(:last-child) {
		margin-bottom: 15rem;
	}

	@include media-down(lg) {
		display: none;
	}
}

.card-details__title {
	&:not(:last-child) {
		margin-bottom: 30rem;
	}
}

.card-details__info {
	display: grid;

	&:not(:last-child) {
		margin-bottom: 30rem;
	}

	@include media-up(lg) {
		grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
	}

	@include media-down(lg) {
		&:not(:last-child) {
			margin-bottom: 25rem;
		}
	}
}

.card-details__info-column {
	--padding-y: 15rem;

	position: relative;
	display: grid;
	align-content: center;
	border-top: 1px solid var(--color);
	border-bottom: 1px solid var(--color);
	padding: var(--padding-y) 0;
	row-gap: 10rem;

	@include media-up(lg) {
		&:nth-child(2n + 3),
		&:nth-child(2n + 4) {
			border-top: 0;
		}

		&:nth-child(2n + 1):not(:only-child) {
			padding-right: var(--gap-md);
		}

		&:nth-child(2n + 2) {
			padding-left: var(--gap-md);

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: var(--padding-y);
				bottom: var(--padding-y);
				border-left: 1px solid var(--color);
			}
		}
	}

	@include media-down(lg) {
		--padding-y: 10rem;

		row-gap: 5rem;

		&:nth-child(n + 2) {
			border-top: 0;
		}
	}
}

.card-details__content {
	display: grid;
	color: var(--color);
	gap: 20rem calc(2 * var(--gap-md));

	@include media-up(lg) {
		grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	}
}

.card-details__content-item {
	--heading-interval-bottom: var(--gap-xs);

	table:not(:first-child) {
		margin-top: var(--paragraph-interval);
	}

	table:not(:last-child) {
		margin-bottom: var(--paragraph-interval);
	}

	&:not(:last-child) {
		margin-bottom: 20rem;
	}

	@include media-down(lg) {
		--font-size: 14rem;

		&:not(:last-child) {
			margin-bottom: 15rem;
		}

		&--organizer {
			table {
				overflow: visible;

				tbody {
					display: grid;
					row-gap: var(--paragraph-interval);
				}

				tr {
					display: grid;
					row-gap: calc(0.5 * var(--paragraph-interval));
				}

				:is(th, td) {
					display: block;
					padding: 0;
				}
			}
		}
	}
}

.card-details__button {
	--width: 100%;
}

.card-details__organizer {
	display: grid;
	grid-template-columns: 1fr var(--column-offset-3);
	border-top: 1px solid;

	@include media-down(lg) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.card-details__organizer-column {
	padding-top: 20rem;
	padding-bottom: 20rem;

	&:nth-child(1) {
		padding-right: var(--gap-md);
	}

	&:nth-child(2) {
		display: grid;
		place-content: center;
		border-left: 1px solid;
		padding-right: var(--gap-md);
		padding-left: var(--gap-md);
	}
}
