.event-item {
	position: relative;
	display: block;

	@include hover {
		.event-item__image-el {
			transform: scale(1.1);
		}
	}
}

.event-item__image {
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		display: block;
		padding-top: 100%;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: percentage(div(376, 540));
		background: linear-gradient(to top, rgba($color-black, 0.8), transparent);
	}
}

.event-item__image-el {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: $image-transition;
}

.event-item__body {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-flow: column;
	padding: 45rem 48rem;
	width: 100%;
	height: 100%;

	@include media-breakpoint-down(lg) {
		padding: 25rem 28rem;
	}
}

.event-item__main {
	display: grid;
	align-items: end;
	grid-template-columns: 1fr auto;
	margin-top: auto;
	border-top: 1px solid $color-white;
	padding-top: 12rem;
	color: $color-white;
	gap: 11rem 15rem;

	@include media-breakpoint-down(lg) {
		padding-top: 5rem;
		row-gap: 9rem;
	}
}

.event-item__group {
	display: flex;
	flex-flow: column;
	min-width: 0;
}

.event-item__location {
	color: currentColor;
}

.event-item__date {
	--date-color: currentColor;

	justify-self: end;
}

.event-item__title {
	@include line-clamp(4, 1.2);

	grid-column: span 2;
	margin: 0;
	font-family: $heading-font-family;
	font-weight: 500;
	font-size: 24rem;

	@include media-breakpoint-down(lg) {
		font-size: 20rem;
	}
}
