mixin event-item({url = "", title, image, date, location, tags} = {})
	article.event-item&attributes(attributes)
		.event-item__image
			+img-2x.event-item__image-el(
				src=image
				alt!=title
			)
		.event-item__body
			.event-item__main
				if location
					.event-item__group
						+location(location).event-item__location

				+date(date).event-item__date

				h3.event-item__title
					a.event-item__link(
						href=url
						title!=title
					)!= title
