include ../card-item/card-item

mixin grants(type = 'grants-all')
	-
		const grants = [
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-3.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Кадры будущего для регионов',
				image: '../../images/content/projects/img-4.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-2.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Кадры будущего для регионов',
				image: '../../images/content/projects/img-4.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-2.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-3.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-3.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Кадры будущего для регионов',
				image: '../../images/content/projects/img-4.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-2.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Кадры будущего для регионов',
				image: '../../images/content/projects/img-4.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-2.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-3.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-3.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Кадры будущего для регионов',
				image: '../../images/content/projects/img-4.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-2.jpg',
				ref: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
			},
		];

	.grants&attributes(attributes)
		.grants__grid
			each grant in grants
				+card-item(grant)
