include ../card-item/card-item
include ../pagination/pagination

mixin grants(type)
	-
		const grants = [
			{
				title: 'Конкурс среди образовательных организаций высшего образования Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-3.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Образование',
					'Мастер-классы',
					'Культура и искусство',
				],
				price: 1000000,
			},
			{
				title: 'Кадры будущего для регионов',
				image: '../../images/content/projects/img-4.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Производство',
				],
				price: 70000,
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-2.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Образование',
				],
				price: 600000,
			},
			{
				title: 'Кадры будущего для регионов',
				image: '../../images/content/projects/img-4.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Производство',
				],
				price: 70000,
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-2.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Образование',
				],
				price: 600000,
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-3.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Образование',
					'Мастер-классы',
					'Культура и искусство',
				],
				price: 1000000,
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-3.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Образование',
					'Мастер-классы',
					'Культура и искусство',
				],
				price: 1000000,
			},
			{
				title: 'Кадры будущего для регионов',
				image: '../../images/content/projects/img-4.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Производство',
				],
				price: 70000,
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-2.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Образование',
				],
				price: 600000,
			},
			{
				title: 'Кадры будущего для регионов',
				image: '../../images/content/projects/img-4.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Производство',
				],
				price: 70000,
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-2.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Образование',
				],
				price: 600000,
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-3.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Образование',
					'Мастер-классы',
					'Культура и искусство',
				],
				price: 1000000,
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-3.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Образование',
					'Мастер-классы',
					'Культура и искусство',
				],
				price: 1000000,
			},
			{
				title: 'Кадры будущего для регионов',
				image: '../../images/content/projects/img-4.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Производство',
				],
				price: 70000,
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-2.jpg',
				organizer: {
					title: 'Ресурсный Молодежный центр',
					image: '../../images/content/projects/logo.png',
				},
				tags: [
					'Образование',
				],
				price: 600000,
			},
		];

	.grants&attributes(attributes)
		.grants__grid
			each grant in grants
				case type
					when 'recipients'
						-
							grant.url = 'recipient.html';
							delete grant.organizer;
					default
						-
							grant.url = 'grant.html';
							delete grant.price;

				+card-item(grant)

		.grants__footer
			+pagination().hidden-lg-down
			+button-load({content: 'Загрузить еще'}).hidden-lg-up
