// Colors
$color-black: #000;
$color-white: #fff;
$color-cod-gray: #131313;
$color-cerulean-blue: #4147d2;
$color-royal-blue: #595fe4;
$color-royal-blue-2: #5b61e7;
$color-silver: #c7c7c7;
$color-aero-blue: #cdffe1;
$color-onahau: #c4e6ff;
$color-onahau-2: #d0ebff;
$color-governor-bay: #343ac0;
$color-governor-bay-2: #3338ad;
$color-cornflower-blue: #6a70fd;
$color-tidal: #e5ffac;
$color-dolly: #fff386;
$color-blue-chalk: #e8e0ff;
$color-watusi: #ffd9cd;

// Fonts
$font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji";
$font-family-helvetica-neue: "Helvetica Neue", sans-serif, $font-family-emoji;
$font-family-stolzl: "Stolzl", sans-serif, $font-family-emoji;
$font-family-stolzl: "Stolzl", sans-serif, $font-family-emoji;
$font-family-stolzl-display: "Stolzl Display", sans-serif, $font-family-emoji;
$font-family-gilroy: "Gilroy", sans-serif, $font-family-emoji;

// Breakpoints
$breakpoints: (
	xs: 360px,
	sm: 576px,
	md: 768px,
	lg: 1025px,
	xl: 1200px,
	xxl: 2560px
);

// Base
$color: $color-cod-gray;
$color-primary: $color-royal-blue;
$background-color: $color-white;
$font-family: $font-family-helvetica-neue;
$transition-duration: 0.2s;

// Heading
$heading-color: $color-cod-gray;
$heading-font-family: $font-family-stolzl;

// Image
$image-transition: transform 3s;
$image-hover-transform: scale(1.1);
