// Colors
$color-black: #000;
$color-white: #fff;
$color-cod-gray: #131313;
$color-cerulean-blue: #4147d2;
$color-royal-blue: #595fe4;
$color-royal-blue-2: #5b61e7;
$color-silver: #c7c7c7;
$color-silver-2: #c4c4c4;
$color-aero-blue: #cdffe1;
$color-onahau: #c4e6ff;
$color-onahau-2: #d0ebff;
$color-onahau-3: #d1ecff;
$color-governor-bay: #343ac0;
$color-governor-bay-2: #3338ad;
$color-cornflower-blue: #6a70fd;
$color-cornflower-blue-2: #7277f5;
$color-tidal: #e5ffac;
$color-dolly: #fff386;
$color-blue-chalk: #e8e0ff;
$color-watusi: #ffd9cd;
$color-gray: #939393;
$color-mercury: #e7e7e7;
$color-indigo: #4247ba;
$color-white-pointer: #fde0ff;
$color-green: #008000;
$color-red: #f00;

// Fonts
$font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji";
$font-family-helvetica-neue: "Helvetica Neue", sans-serif, $font-family-emoji;
$font-family-stolzl: "Stolzl", sans-serif, $font-family-emoji;
$font-family-stolzl-display: "Stolzl Display", sans-serif, $font-family-emoji;
$font-family-gilroy: "Gilroy", sans-serif, $font-family-emoji;

// Layout
$breakpoints: (
	xs: 360px,
	sm: 576px,
	md: 768px,
	lg: 1025px,
	xl: 1200px,
	xxl: 2560px
);
$container-gap: 15rem;
$container-max-width: 1140rem;

// Base
$color: $color-cod-gray;
$color-primary: $color-royal-blue;
$color-primary-hover: $color-indigo;
$color-disabled: $color-silver-2;
$color-success: $color-green;
$color-danger: $color-red;
$font-family: $font-family-helvetica-neue;
$font-size: 16rem;
$line-height: 1.5;
$background-color: $color-white;
$transition-duration: 0.2s;

// Heading
$heading-color: $color;
$heading-font-family: $font-family-stolzl;
$heading-font-weight: 700;
$heading-line-height: 1.15;

// Image
$image-transition: transform 3s;
$image-hover-transform: scale(1.1);

// Arrow
$arrow-hover-translate: 20rem;
