.color-primary {
	color: $color-primary;
}

.color-silver {
	color: $color-silver;
}

.color-gray {
	color: $color-gray;
}

.position-relative {
	position: relative;
}

.overflow-hidden {
	overflow: hidden;
}

.anchor {
	position: absolute;
	top: calc(-1 * var(--header-sticky-height));
	visibility: hidden;
}

.from-container-to-body {
	margin-right: calc(-1 * var(--container-content-offset-x));
	margin-left: calc(-1 * var(--container-content-offset-x));
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--gap);
}

@include media-breakpoint-up(lg) {
	.hidden-lg-up {
		// stylelint-disable-next-line
		display: none !important;
	}

	@for $i from 1 through 12 {
		.column-span-#{$i}-lg-up {
			grid-column-end: span #{$i};
		}

		.column-line-#{$i}-lg-up {
			grid-column-start: #{$i};
		}
	}
}

@include media-breakpoint-down(lg) {
	.hidden-lg-down {
		// stylelint-disable-next-line
		display: none !important;
	}

	@for $i from 1 through 12 {
		.column-span-#{$i}-lg-down {
			grid-column-end: span #{$i};
		}

		.column-offset-#{$i}-lg-down {
			grid-column-start: #{$i};
		}
	}
}
