@include media-breakpoint-up(lg) {
	.hidden-lg-up {
		// stylelint-disable-next-line
		display: none !important;
	}
}

@include media-breakpoint-down(lg) {
	.hidden-lg-down {
		// stylelint-disable-next-line
		display: none !important;
	}
}

.color-silver {
	color: $color-silver;
}

.color-gray {
	color: $color-gray;
}

.position-relative {
	position: relative;
}

.overflow-hidden {
	overflow: hidden;
}
