:root {
	--app-width: var(--body-content-width, 100vw);
	--gap-xs: 15rem;
	--gap-sm: 20rem;
	--gap: 30rem;
	--gap-lg: 40rem;
	--gap-xl: 50rem;
	--gap-2xl: 80rem;
	--gap-3xl: 100rem;
	//
	--font-family: var(--font-family-helvetica-neue);
	--font-size: 16rem;
	--line-height: 1.5;
	--heading-font-family: var(--font-family-stolzl);
	--heading-font-weight: 700;
	--heading-line-height: 1.15;

	@include media-breakpoint-down(lg) {
		--gap-xs: 10rem;
		--gap-sm: 15rem;
		--gap: 20rem;
		--gap-lg: 25rem;
		--gap-xl: 30rem;
		--gap-2xl: 40rem;
		--gap-3xl: 50rem;
	}
}

// stylelint-disable-next-line
:root {
	font-size: 1px;

	@include media-breakpoint-down(xl) {
		font-size: calc(0.3 / 1200 * 100vw + 0.7px);
	}

	@include media-breakpoint-down(lg) {
		font-size: calc(0.2 / 360 * 100vw + 0.8px);
	}
}
