// stylelint-disable no-duplicate-selectors
:root {
	font-size: 1px;

	@include media-down(xl) {
		font-size: calc(0.3 / 1200 * 100vw + 0.7px);
	}

	@include media-down(lg) {
		font-size: calc(0.2 / 360 * 100vw + 0.8px);
	}
}

// Colors and Gradients
:root {
	@each $name, $value in $colors {
		--#{$name}: #{$value};
	}

	@each $name, $value in $gradients {
		--#{$name}: #{$value};
	}
}

// Type
:root {
	--font-family: var(--font-family-helvetica-neue);
	--font-weight: 400;
	--font-size: 16rem;
	--line-height: 1.5;
	--color: var(--color-text);
	--bg-color: var(--color-bg);
	--heading-font-family: var(--font-family-stolzl);
	--heading-font-weight: 700;
	--heading-1-font-size: 60rem;
	--heading-2-font-size: 50rem;
	--heading-3-font-size: 40rem;
	--heading-4-font-size: 35rem;
	--heading-5-font-size: 30rem;
	--heading-6-font-size: 25rem;
	--heading-line-height: 1.15;
	--heading-color: var(--color-heading);
	--heading-3-color: var(--color-primary);
	--heading-4-color: var(--color-primary);
	--heading-5-color: var(--color-primary);
	--heading-interval-top: var(--gap-xxl);
	--heading-interval-bottom: var(--gap-md);
	--paragraph-interval: #{em(15)};
	--link-color: var(--color-primary);
	--link-text-decoration: none;
	--link-hover-color: var(--color-primary-hover);
	--block-interval: var(--gap-lg);

	@include media-down(lg) {
		--heading-1-font-size: 40rem;
		--heading-2-font-size: 35rem;
		--heading-3-font-size: 30rem;
		--heading-4-font-size: 25rem;
		--heading-5-font-size: 20rem;
		--heading-6-font-size: 15rem;
	}
}

// Layout
:root {
	--full-width: var(--body-content-width, calc(100vw - 20px));
	--gap-xs: 15rem;
	--gap-sm: 20rem;
	--gap-md: 30rem;
	--gap-lg: 40rem;
	--gap-xl: 50rem;
	--gap-xxl: 80rem;
	--gap-xxxl: 100rem;
	--container-padding: 15rem;
	--container-gap: var(--gap-md);
	--container-max-width: 1140rem;
	--container-width: min(var(--full-width), var(--container-max-width));
	--container-content-width: calc(var(--container-width) - 2 * var(--container-padding));
	--container-content-offset: calc((var(--full-width) - var(--container-content-width)) / 2);

	@for $size from 1 through 12 {
		$columns: div(12, $size);

		--column-#{$size}: calc((var(--container-content-width) - #{$columns - 1} * var(--container-gap)) / #{$columns});
	}

	@for $size from 1 through 12 {
		$columns: div(12, $size);

		--column-offset-#{$size}: calc(var(--column-#{$size}) + var(--container-gap));
	}

	// stylelint-disable-next-line
	@include media-down(lg) {
		--gap-xs: 10rem;
		--gap-sm: 15rem;
		--gap-md: 20rem;
		--gap-lg: 25rem;
		--gap-xl: 30rem;
		--gap-xxl: 40rem;
		--gap-xxxl: 50rem;
		--container-padding: 19rem;
		--container-max-width: var(--full-width);
	}
}

// Other
:root {
	--duration: 0.2s;
	--image-transition: transform 3s;
	--image-hover-transform: scale(1.1);
}
