@function cw($number) {
	@return percentage(math.div($number, 1110));
}

.section {
	position: relative;
	padding: 134rem 0 160rem;
}

.section__header {
	margin-bottom: 20rem;
}

.section__header-body {
	width: cw(541);
}

.section__desc {
	font-size: 20rem;
	line-height: 1.5;

	p {
		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}
}

.section__design {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.section__design-inner {
	position: relative;
	padding-top: 100%;
}

.section__design-box {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.section__design-bg {
	$size: cw(750);

	position: absolute;
	right: 13rem;
	top: 0;
	border-radius: 50% 0 0 50%;
	width: $size;
	height: $size;

	&::before {
		content: "";
		position: absolute;
		left: 100%;
		right: calc(-13rem + var(--container-content-offset-x));
		top: 0;
		bottom: 0;
		background: inherit;
	}

	&--color-1 {
		background: $color-onahau;
	}
}

.section__img-1 {
	position: absolute;
	right: cw(10);
	top: cw(186);
	width: cw(623);
}

.section__ellipses-1 {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.section__ellipse-1 {
	position: absolute;
	right: cw(347);
	top: cw(149);
	border-radius: 50%;
	width: cw(109.1);
	height: cw(109.1);
	background: conic-gradient(from 224.41deg at 50% 50%, #6a70fd 0deg, #3338ad 360deg);
}

.section__ellipse-2 {
	position: absolute;
	right: cw(50);
	top: cw(61);
	border-radius: 50%;
	width: cw(212.84);
	height: cw(212.84);
	background: conic-gradient(from 135deg at 50% 50%, #6a70fd 0deg, #3338ad 360deg);
}

.section__ellipse-3 {
	position: absolute;
	right: cw(234);
	top: cw(303);
	border-radius: 50%;
	width: cw(109.1);
	height: cw(109.1);
	background: conic-gradient(from -44.29deg at 50% 50%, #6a70fd 0deg, #3338ad 360deg);
}

.section__img-2 {
	position: absolute;
	right: cw(84);
	top: cw(360);
	width: cw(353);
}

.section__img-3 {
	position: absolute;
	right: cw(60);
	top: cw(-89);
	width: cw(546);
}

.section__img-4 {
	position: absolute;
	right: cw(507);
	top: cw(-103);
	width: cw(222);
}

.section__img-5 {
	position: absolute;
	right: cw(204);
	top: cw(-114);
	width: cw(150);
}
