.section {
	position: relative;
	padding: 127rem 0 160rem;

	@include media-breakpoint-down(lg) {
		padding: 290rem 0 50rem;
	}
}

.section__header {
	margin-bottom: 25rem;
}

.section__header-body {
	@include media-breakpoint-up(lg) {
		width: cw(541);
	}
}

.section__desc {
	font-size: 20rem;
	line-height: 1.5;

	p {
		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}

	@include media-breakpoint-down(lg) {
		font-size: 16rem;
	}
}

.section__design {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;

	@include media-breakpoint-down(lg) {
		top: 86rem;
	}
}

.section__design-box {
	position: relative;
}

.section__design-bg {
	position: absolute;
	left: cw(1110 - 763);
	right: calc(-1 * var(--container-content-offset-x));
	top: 0;
	border-radius: 550rem 0 0 550rem;
	height: 750rem;

	&--forums {
		background: $color-onahau;
	}

	@include media-breakpoint-down(lg) {
		left: cw(36, 320);
		height: 372rem;
	}
}

.section__design-image {
	&--forums {
		top: -114rem;
	}

	@include media-breakpoint-down(lg) {
		top: -86rem;
	}
}

.section__score {
	margin-top: 40rem;

	@include media-breakpoint-down(lg) {
		margin-top: 22rem;
	}
}

.section__main {
	position: relative;
	z-index: 1;
}
