include ../image-forums/image-forums

mixin section(type = 'forums')
	-
		const data = sections[type];

	section.section(class=`section--${type}`)&attributes(attributes)
		.section__design
			.container
				.section__design-box
					case type
						when 'forums'
							.section__design-bg.section__design-bg--color-1
							+image-forums().section__design-image.section__design-image--forums

		header.container.section__header
			.section__header-body
				h2.heading.section__heading= data.title
				.section__desc!= data.desc

