.footer {
	display: flex;
	flex-flow: column;
}

.footer__body {
	padding-top: 74rem;
	padding-bottom: 37rem;

	@include media-breakpoint-down(lg) {
		padding-top: 26rem;
		padding-bottom: 30rem;
	}
}

.footer__grid {
	display: grid;
	grid-template-columns: repeat(3, 350fr);
	gap: 24rem 30rem;

	@include media-breakpoint-down(lg) {
		column-gap: 24rem;
		justify-items: center;
		grid-template-columns: 1fr;
	}
}

.footer__section {
	> :last-child {
		margin-bottom: 0;
	}

	&:nth-child(3n + 1) {
		text-align: right;
	}
}

.footer__header {
	margin-bottom: 28rem;
	border-bottom: 1px solid var(--color);
	padding-bottom: 26rem;
}

.footer__title {
	margin: 0;
	font-family: var(--heading-font-family);
	font-weight: 700;
	font-size: 26rem;
	line-height: 1.15;
	letter-spacing: -0.02em;
	color: $color-black;
}

.footer__content {
	font-size: 16rem;
	line-height: 1.5;
	color: $color-black;

	p {
		margin: 0 0 8rem;
	}

	a {
		transition: color var(--transition-duration);

		@include hover {
			color: var(--color-primary);
		}
	}
}

.footer__logo {
	margin: 0 auto;
	width: 220rem;
}

.footer__soc-network {
	justify-content: center;

	@include media-breakpoint-down(lg) {
		grid-row: 3;
	}
}

.footer__info {
	font-size: 14rem;
	line-height: 1.43;
	color: $color-black;

	a {
		transition: color var(--transition-duration);

		@include hover {
			color: var(--color-primary);
		}
	}

	&:last-child {
		grid-column: 2;
		text-align: center;
	}

	&:nth-child(3n + 1):not(:last-child) {
		text-align: right;
	}

	&--dev {
		a {
			display: flex;
		}

		icon-svg {
			flex-shrink: 0;
			margin: auto 15rem auto 0;
			width: 49rem;
		}
	}

	@include media-breakpoint-down(lg) {
		font-size: 13rem;
		text-align: center;

		&:last-child {
			grid-column: 1;
		}

		&:nth-child(3n + 1):not(:last-child) {
			text-align: center;
		}

		&--dev {
			text-align: left;
		}
	}
}
