include ../subscribe/subscribe
include ../soc-network/soc-network

mixin footer()
	footer.footer&attributes(attributes)
		+subscribe()
		.footer__body
			.container.footer__grid
				.footer__section.hidden-lg-down
					.footer__header
						h4.footer__title Министерство спорта и&nbsp;молодёжной политики
					.footer__content
						p Телефон: #[strong +7 (800) 000-00-00]
						p Адрес: #[strong Москва, ул. Ленина, 123]
						p E-mail: #[strong #[a(href="mailto:info@u.university") info@u.university]]
						p Сайт: #[strong #[a(href="") www.site.ru]]

				img.footer__logo.hidden-lg-down(src="../../images/design/logo.svg" alt="Молодёжно")

				.footer__section.hidden-lg-down
					.footer__header
						h4.footer__title Дом Молодёжи Новгородской области
					.footer__content
						p Телефон: #[strong +7 (800) 000-00-00]
						p Адрес: #[strong Москва, ул. Ленина, 123]
						p E-mail: #[strong #[a(href="mailto:info@u.university") info@u.university]]
						p Сайт: #[strong #[a(href="") www.site.ru]]

				p.footer__info: span.color-silver &copy;&nbsp;2020. Информационно-познавательный портал для молодёжи Новгородской области

				+soc-network().footer__soc-network

				p.footer__info.footer__info--dev
					a.color-silver(href="https://renart.ru/" target="_blank")
						icon-svg(name="renaissance")
						span Разработка сайта:#[br] #[strong Renaissance Art Group]

				p.footer__info.
					По&nbsp;вопросам сотрудничества обращайтесь
					по&nbsp;#[strong +7&nbsp;(123)&nbsp;456-78-90]
					или пишите на&nbsp;#[strong #[a(href="mailto:friendship@molodejno.ru") friendship@molodejno.ru]]
