.organizer {
	--line-height: 1.25;
	--image-height: 40rem;

	display: flex;
	column-gap: var(--gap-sm);
	align-items: flex-start;
	font-size: 14rem;
	color: var(--color);

	&--line-clamp {
		--line-clamp: 3;

		height: max(calc(var(--line-clamp) * var(--line-height) * 1em), var(--image-height));
	}

	@include media-breakpoint-down(lg) {
		font-size: 12rem;
	}
}

.organizer__title {
	@include line-clamp;

	flex: 50%;
	margin: auto 0;
}

.organizer__image {
	flex: 50%;
	height: var(--image-height);
	object-fit: contain;
}
