mixin organizer({title, image, lineClamp})
	.organizer(class={'organizer--line-clamp': lineClamp})&attributes(attributes)
		.organizer__title!= title
		+img-2x().organizer__image(
			src=image
			alt!=title
		)
