extends ../../pug/base
include ../../components/header/header
include ../../components/footer/footer
include ../../components/section/section
include ../../components/section-nav/section-nav
include ../../components/filters/filters
include ../../components/grants/grants
include ../../components/promo/promo

append variables
	-
		title = `${title} - Гранты`;

block body
	+header()

	main.app__main
		+breadcrumbs(['Гранты']).container.app__breadcrumbs
		+section({
			type: 'grants',
			title: 'Гранты',
			desc: `<p>Портал для молодёжи занимающийся реализацией молодёжной политики во&nbsp;всех актуальных
		и&nbsp;действующих направлениях данной отрасли</p>`,
			score: {
				title: 'Открытых грантов',
				number: 100,
			},
		}).section--advanced
			.container.section__grid
				aside.section__grid-aside
					+section-nav([
						{
							url: 'grants-all.html',
							content: 'Гранты',
							isActive: true,
						},
						{
							url: 'grants-recipients.html',
							content: 'Гранты получили',
							isActive: false,
						},
					])
					+filters([
						{
							content: 'Все',
							quantity: 991
						},
						{
							content: 'Бизнес',
							quantity: 132
						},
						{
							content: 'Образование',
							quantity: 53
						},
						{
							content: 'HR',
							quantity: 4
						},
						{
							content: 'Производство',
							quantity: 8
						},
						{
							content: 'Творчество',
							quantity: 76
						},
					])

				.section__grid-main
					+grants()
		+promo('grants')

	+footer()
