@use "sass:map";
@use "../variables" as *;

@mixin media-hover {
	@media (hover: hover), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		// Insert Styles for Hover-Devices and IE11 here.
		@content;
	}
}

@mixin media-up($breakpoint) {
	@if type-of($breakpoint) == "string" {
		$breakpoint: map.get($breakpoints, $breakpoint);
	}

	@media (width >= $breakpoint) {
		@content;
	}
}

@mixin media-down($breakpoint) {
	@if type-of($breakpoint) == "string" {
		$breakpoint: map.get($breakpoints, $breakpoint);
	}

	@media (width < $breakpoint) {
		@content;
	}
}

@mixin media-between($breakpoint-start, $breakpoint-end) {
	@if type-of($breakpoint-start) == "string" {
		$breakpoint-start: map.get($breakpoints, $breakpoint-start);
	}

	@if type-of($breakpoint-end) == "string" {
		$breakpoint-end: map.get($breakpoints, $breakpoint-end);
	}

	@media (width >= $breakpoint-start) and (width < $breakpoint-end) {
		@content;
	}
}
