extends ../../pug/base

include ../../components/header/header
include ../../components/footer/footer

include ../../components/card-info/card-info
include ../../components/article-nav/article-nav
include ../../components/gallery-slider/gallery-slider
include ../../components/quote/quote
include ../../components/cards/cards

include ../../components/subsection-section/subsection-section
include ../../components/subsection/subsection
include ../../components/section/section

append variables
	-
		title = `${title} - Новость`;

block app
	+header()

	main.app__main
		+container().app__breadcrumbs
			+breadcrumbs([
				{
					url: 'press-center.html',
					content: 'Пресс-центр',
				},
				{
					url: 'news.html',
					content: 'Новости',
				},
				'Всероссийский HR-форум по подбору IT-персонала',
			])

		+section({
			tag: 'article',
			type: 'news',
			title: 'Всероссийский HR-форум по подбору IT-персонала',
			advanced: true,
			withoutImage: true,
		})
			+content()
				+container().section__grid
					aside.section__grid-aside
						+card-info('new').section__card-info
						+article-nav({
							primary: true,
							backUrl: 'news.html',
						}).section__article-nav

					.section__grid-main
						+content()
							+gallery-slider([
								'../../images/content/gallery-slider/img-2.jpg',
								'../../images/content/gallery-slider/img-1.jpg',
							])

							+content-edited()
								blockquote
									p.
										Портал для молодёжи занимающийся реализацией молодёжной политики во всех актуальных
										и действующих направлениях данной отрасли
								p.
									Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
									молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
									Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
									молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
									Это информационно-познавательный портал для молодёжи.
								p.
									Новгородской области, занимающийся реализацией молодёжной политики во всех актуальных
									и действующих направлениях данной отрасли.

							+quote('Константинопольский А.&nbsp;М.')
								p.
									Сегодня Дом молодёжи&nbsp;&mdash;#[br] это команда профессионалов, которые отвечают
									за&nbsp;основные направления современной молодёжной политики.

							+content-edited()
								p.
									Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
									молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
									Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
									молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
									Это информационно-познавательный портал для молодёжи.
								p.
									Новгородской области, занимающийся реализацией молодёжной политики во всех актуальных
									и действующих направлениях данной отрасли.

							+subsection({
								offsetColumn: 'all',
								title: 'HR форум'
							})
								+content-edited()
									ul
										li.
											30 октября в Батецком районе будет дан старт областному походу по местам боевых сражений.
											К нему присоединятся активисты военно-патриотических клубов, центров, объединений и представители
											поисковых отрядов Новгородской области.
										li.
											Поход продлится до 1 ноября и будет посвящен боевому пути 1-й Ленинградской стрелковой дивизии
											народного ополчения, которая в июле 1941 года высадилась на станции Батецкая и заняла оборону
											на Лужском рубеже.
										li.
											В первый день участники познакомятся с виртуальной экспозицией, посвященной 1-й Кировской дивизии
											народного ополчения, посетят Исторический памятник древнеславянской культуры «Шум-Гора».

								+subsection-section({title: 'HR форум'})
									+content-edited()
										+img-2x()(src="../../images/content/article/img-3.jpg")

										p.
											Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
											молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
											Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
											молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
											Это информационно-познавательный портал для молодёжи.
										p.
											Новгородской области, занимающийся реализацией молодёжной политики во всех актуальных
											и действующих направлениях данной отрасли.

										+video({caption: 'Это информационно-познавательный портал для молодёжи Новгородской области'})

										p.
											Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
											молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
										p.
											Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
											молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
											Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
											молодёжной политики во всех актуальных и действующих направлениях данной отрасли.

						+share()

				+subsection({
					offsetColumn: 'header',
					type: 'related',
					extType: 'news',
					title: 'Читайте еще',
				})
					+cards({
						type: 'news',
						slice: 4,
						columns: 4,
					})

	+footer()
