.doc-item {
	display: inline-flex;
	column-gap: 15rem;
	align-items: flex-start;
	vertical-align: top;
	max-width: 100%;
	font-size: var(--font-size);
	line-height: var(--line-height);
	color: var(--color-primary);
	transition: color;
	transition-duration: var(--duration);

	@include hover {
		color: var(--color-primary-hover);
	}

	&--lg {
		position: relative;
		column-gap: 20rem;
		border-top: 1px solid transparent;
		padding-top: 30rem;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: -1px;
			width: 100%;
			height: 1px;
			background: var(--color);
			transition: height;
			transition-duration: var(--duration);
		}

		.doc-item__icon {
			width: 65rem;
		}

		.doc-item__title {
			margin: 0;
		}

		@include hover {
			&::before {
				height: 3px;
			}
		}
	}

	@include media-down(lg) {
		&:not(&--lg) {
			font-size: 14rem;
		}

		&--lg {
			padding-top: 20rem;
		}
	}
}

.doc-item__icon {
	width: 25rem;
}

.doc-item__title {
	flex: 1;
	margin: auto 0;
}
