mixin more-link({dir = 'right'} = {})
	a.more-link(
		href=""
		x-data
		x-bind:class="{'more-link--row': !$store.isDesktop}"
	)&attributes(attributes)
		.more-link__icon
			icon-svg(name=`arrow-${dir}`)
		if block
			.more-link__content
				block
