mixin more-link({content, dir = 'right'} = {})
	a.more-link(
		href=""
		x-data
		x-bind:class="{'more-link--row': !$store.isDesktop}"
	)&attributes(attributes)
		.more-link__icon
			icon-svg(name=`arrow-${dir}`)
		if content
			.more-link__content(x-text=content)
