include ../card-item/card-item

mixin recipients()
	-
		let recipients = [
			{
				title: 'Конкурс среди образовательных организаций высшего образования Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-3.jpg',
				tags: [
					'Образование',
					'Мастер-классы',
					'Культура и искусство',
				],
				price: 1000000,
			},
			{
				title: 'Кадры будущего для регионов',
				image: '../../images/content/projects/img-4.jpg',
				tags: [
					'Производство',
				],
				price: 70000,
			},
			{
				title: 'Конкурс среди образовательных организаций высшего образования',
				image: '../../images/content/projects/img-2.jpg',
				tags: [
					'Образование',
				],
				price: 600000,
			},
		];

	.recipients&attributes(attributes)
		.recipients__main
			.recipients__main-inner(
				x-data="swiperCards"
				x-effect="effect"
				x-bind:class="{swiper: !$store.isDesktop}"
				x-ref="swiper"
			)
				.recipients__grid(x-bind:class="{'swiper-wrapper': !$store.isDesktop}")
					each recipient in recipients
						+card-item(recipient).card-item--recipient.recipients__item(x-bind:class="{'swiper-slide': !$store.isDesktop}")

		.recipients__footer
			+button-load({content: 'Открыть все'})
