.soc-network {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	gap: 10rem 50rem;
}

.soc-network__item {
	flex-shrink: 0;
	color: $color-black;
	transition: color var(--transition-duration);

	@include hover {
		color: var(--color-primary);
	}

	&--vk {
		width: 18rem;
	}

	&--instagram {
		width: 16rem;
	}

	&--facebook {
		width: 8rem;
	}
}
