mixin soc-network()
	.soc-network&attributes(attributes)
		a.soc-network__item.soc-network__item--vk(href="" target="_blank")
			icon-svg(name="vk")
		a.soc-network__item.soc-network__item--instagram(href="" target="_blank")
			icon-svg(name="instagram")
		a.soc-network__item.soc-network__item--facebook(href="" target="_blank")
			icon-svg(name="facebook")
