.infographics {
	overflow: hidden;
	padding-bottom: 100rem;

	@include media-breakpoint-down(lg) {
		padding-bottom: 68rem;
	}
}

.infographics__items {
	overflow: hidden;
	margin-right: var(--container-content-offset-x);
	margin-left: -61rem;
	padding-left: 61rem;

	.swiper-container {
		overflow: visible;
		margin: 0 -15rem;
	}

	@include media-breakpoint-down(lg) {
		margin-left: var(--container-gap-negative);
		padding-left: var(--container-gap);

		.swiper-container {
			margin: 0 -10rem;
		}
	}
}

.infographics__item {
	position: relative;
	display: flex;
	flex-flow: column;
	margin: 0 15rem;
	border-bottom: 1px solid $headings-color;
	padding: 51rem 0 12rem;
	width: 445rem;
	height: auto;

	&::before {
		content: "";
		position: absolute;
		left: -61rem;
		top: 0;
		z-index: -1;
		border: math.div(134 - 52, 2) * 1rem solid $color-white;
		border-radius: 50%;
		width: 134rem;
		height: 134rem;
	}

	@include media-breakpoint-down(lg) {
		margin: 0 10rem;
		padding: 35rem 0 4rem;
		width: 265rem;

		&::before {
			left: -56rem;
			border-width: math.div(94 - 36, 2) * 1rem;
			width: 94rem;
			height: 94rem;
		}
	}
}

.infographics__title {
	margin-bottom: -18rem;
	font-family: $headings-font-family;
	font-weight: 500;
	font-size: 18rem;
	line-height: 1.8;
	color: $color-black;

	@include media-breakpoint-down(lg) {
		margin-bottom: -12rem;
		font-size: 14rem;
	}
}

.infographics__content {
	display: flex;
	align-items: center;
	margin-top: auto;
}

.infographics__number {
	font-family: $headings-font-family;
	font-weight: 700;
	font-size: 90rem;
	line-height: math.div(108, 90);
	color: $color-cerulean-blue;

	@include media-breakpoint-down(lg) {
		font-size: 60rem;
	}
}

.infographics__plus {
	margin-left: 12rem;
	font-family: $font-family-gilroy;
	font-weight: 600;
	font-size: 100rem;
	line-height: math.div(119, 100);
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px currentColor;
	color: $color-black;

	@include media-breakpoint-down(lg) {
		margin-left: 5rem;
		font-size: 60rem;
	}
}

.infographics__image {
	display: block;
	margin-top: 46rem;
	width: 100%;

	@include media-breakpoint-down(lg) {
		margin-top: 20rem;
	}
}
