extends ../base

include ../../components/event-item/event-item

append variables
	-
		let columns = 1;
		let type = 'forums';
		let slice;
		let tags = true;

block document
	include ../../components/events/data

	-
		let items = data(type, slice, tags);

	each item in items
		+event-item(item).events__item(
			class=[
				{'events__item--main': columns === 2 && slice === 1},
				{'column-span-9-lg-up': columns === 1},
				'column-span-6',
				'column-span-10-md-down',
				'column-line-2-md-down',
				'column-span-12-sm-down',
				'column-line-1-sm-down',
			]
		)
