.section-promo {
	padding-top: 135rem;
	padding-bottom: 65rem;

	@include media-breakpoint-down(lg) {
		padding-top: 40rem;
		padding-bottom: 25rem;
	}
}

.section-promo__container {
	display: grid;
	gap: 30rem var(--gap);

	@include media-breakpoint-up(lg) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.section-promo__title {
	font-family: $heading-font-family;
	font-weight: 350;
	font-size: 60rem;
	line-height: 1.25;
	color: $color;

	small {
		display: block;
		font-size: 40rem;
	}

	&:not(:last-child) {
		margin-bottom: 30rem;
	}

	@include media-breakpoint-down(lg) {
		font-size: 42rem;

		small {
			font-size: 24rem;
		}

		&:not(:last-child) {
			margin-bottom: 20rem;
		}
	}
}

.section-promo__content {
	font-size: 20rem;
	line-height: 1.5;
	color: $color;

	p:not(:last-child) {
		margin-bottom: 1em;
	}

	&:not(:last-child) {
		margin-bottom: 30rem;
	}

	@include media-breakpoint-down(lg) {
		font-size: 18rem;
	}
}

.section-promo__image {
	position: relative;
	z-index: 1;
	margin: -15rem - 135rem auto 0;
	width: 100%;

	img {
		object-fit: contain;
	}

	@include media-breakpoint-down(lg) {
		margin-top: 0;

		img {
			max-height: calc(#{vh(100)} - 100rem);
		}
	}
}
