.nav {
	display: flex;
	column-gap: 20rem;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid;
	box-shadow: 0 1px currentColor;

	@include media-breakpoint-down(lg) {
		flex-flow: column;
		align-items: stretch;
		justify-content: flex-start;
		border: 0;
		box-shadow: none;
		row-gap: 18rem;
	}
}

.nav__item {
	overflow: hidden;
	font-family: var(--heading-font-family);
	font-weight: 500;
	font-size: 18rem;
	line-height: 1.25;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition: color;
	transition-duration: $transition-duration;

	@include hover {
		color: $color-primary;
	}

	@include media-breakpoint-down(lg) {
		flex-shrink: 0;
	}
}
