mixin nav()
	-
		const pages = [
			{
				url: 'activities.html',
				title: 'Деятельность',
			},
			{
				url: 'forums.html',
				title: 'Форумы',
			},
			{
				url: 'projects.html',
				title: 'Проекты',
			},
			{
				url: 'grants.html',
				title: 'Гранты',
			},
			{
				url: 'playbill.html',
				title: 'Афиша',
			},
			{
				url: 'news.html',
				title: 'Пресс-центр',
			},
			{
				url: 'about.html',
				title: 'О нас',
			},
			{
				url: 'contacts.html',
				title: 'Контакты',
			},
		];

	nav.nav&attributes(attributes)
		each page in pages
			a.nav__item(href=page.url)= page.title
