.contacts {
	display: grid;
	row-gap: var(--gap-xl);
}

.contacts__item {
	--gap: 30rem;

	align-items: start;
}

.contacts__body {
	border-top: 1px solid $color;
	padding-top: var(--gap-lg);
}

.contacts__main {
	&:not(:last-child) {
		margin-bottom: 30rem;
	}

	@include media-breakpoint-down(lg) {
		--content-edited-font-size: 14rem;

		&:not(:last-child) {
			margin-bottom: 25rem;
		}
	}
}

.contacts__map {
	position: relative;
	overflow: hidden;
	border-radius: 0 555rem 555rem 0;
	height: 445rem;
	background: $color-gray;

	[class*="ymaps-2"][class*="-ground-pane"] {
		filter: grayscale(1);
	}

	@include media-breakpoint-down(lg) {
		height: 250rem;
	}
}
