.contacts {
	display: grid;
	row-gap: var(--gap-xl);
}

.contacts__item {
	align-items: start;

	@include media-breakpoint-down(lg) {
		row-gap: 30rem;
	}
}

.contacts__body {
	border-top: 1px solid $color;
	padding-top: var(--gap-lg);
}

.contacts__main {
	&:not(:last-child) {
		margin-bottom: 30rem;
	}

	@include media-breakpoint-down(lg) {
		--content-edited-font-size: 14rem;

		&:not(:last-child) {
			margin-bottom: 25rem;
		}
	}
}

.contacts__map {
	--height: #{cw(445, 540)};

	position: relative;
	overflow: hidden;
	border-radius: 0 555rem 555rem 0;
	background: $color-gray;

	&::before {
		content: "";
		display: block;
		padding-top: min(var(--height), #{vh(100)} - var(--header-sticky-height));
	}

	@include media-breakpoint-down(lg) {
		--height: #{cw(250, 322)};
	}
}

.contacts__ymaps {
	position: absolute;
	inset: 0;
}
