include ../../components/marquee/marquee

mixin directions()
	section.directions(x-data="directions(undefined, -1, 3)")&attributes(attributes)
		+container('header').directions__header
			+heading('h2').directions__heading Направления
		template(x-for="marqueeOptions in marqueeOptionsList")
			+marquee()(x-data="marquee(marqueeOptions)")
		+container('footer').directions__footer
			+button-arrow-text({content: "'Смотреть все'"})(x-bind:class="{'button-arrow-text--row': !$store.isDesktop}")
