.directions {
	margin-top: 228rem;

	@include media-breakpoint-down(lg) {
		margin-top: 115rem;
	}
}

.directions__header {
	margin-bottom: var(--heading-margin-bottom);
}

.directions__heading {
	text-align: center;
	color: $color-black;

	@include media-breakpoint-down(lg) {
		text-align: left;
	}
}

.directions__footer {
	display: flex;
	justify-content: center;
	margin-top: 32rem;

	@include media-breakpoint-down(lg) {
		justify-content: flex-start;
		margin-top: 38rem;
	}
}

.directions__more {
	color: $color-black;
}
