.directions {
	padding-top: 228rem;
	padding-bottom: 200rem;
}

.directions__header {
	margin-bottom: 15rem;
}

.directions__heading {
	text-align: center;
	color: $color;
}

.directions__footer {
	display: flex;
	justify-content: center;
	margin-top: 32rem;
}
