include ../soc-network/soc-network

mixin team-item({position, image, content, accounts} = {})
	article.team-item&attributes(attributes)
		h3.team-item__position!= position
		+content-edited()!= content
		if accounts
			+soc-network(accounts)
		if image
			.team-item__image
				+img-2x().team-item__image-el(
					src=image
					alt!=title
				)
