.section-nav {
	display: flex;
	flex-flow: column;
	user-select: none;
	gap: 15rem 20rem;

	&:not(:last-child) {
		margin-bottom: 45rem;
	}

	@include media-breakpoint-down(lg) {
		flex-flow: row wrap;

		&:not(:last-child) {
			margin-bottom: 20rem;
		}
	}
}

.section-nav__item {
	font-family: $heading-font-family;
	font-weight: 500;
	font-size: 15rem;
	line-height: 1.2;
	color: $color;
	transition: color;
	transition-duration: $transition-duration;

	@include hover {
		&:not(.is-active) {
			color: $color-primary;
		}
	}

	&.is-active {
		color: $color-primary;
	}
}
