:root {
	--content-edited-font-size: var(--font-size);
	--content-edited-line-height: var(--line-height);
	--content-edited-interval: #{em(15)};
	--content-edited-block-interval: var(--gap-lg);
	--content-edited-h1-font-size: 60rem;
	--content-edited-h2-font-size: 50rem;
	--content-edited-h3-font-size: 40rem;
	--content-edited-h4-font-size: 35rem;
	--content-edited-h5-font-size: 30rem;
	--content-edited-h6-font-size: 25rem;
	--content-edited-heading-interval-top: var(--gap-2xl);
	--content-edited-heading-interval-bottom: var(--gap);
	--content-edited-list-indent: #{em(65)};
	--content-edited-list-marker-size: #{em(10)};

	@include media-breakpoint-down(lg) {
		--content-edited-h1-font-size: 40rem;
		--content-edited-h2-font-size: 35rem;
		--content-edited-h3-font-size: 30rem;
		--content-edited-h4-font-size: 25rem;
		--content-edited-h5-font-size: 20rem;
		--content-edited-h6-font-size: 15rem;
		--content-edited-list-indent: #{em(35)};
	}
}

.content-edited {
	font-size: var(--content-edited-font-size);
	line-height: var(--content-edited-line-height);

	> :not(:first-child) {
		margin-top: var(--content-edited-block-interval);
	}

	> :not(:last-child) {
		margin-bottom: var(--content-edited-block-interval);
	}

	// stylelint-disable
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
	// stylelint-enable
		font-family: $heading-font-family;
		font-weight: $heading-font-weight;
		line-height: var(--heading-line-height);

		+ * {
			// stylelint-disable-next-line
			margin-top: 0 !important;
		}

		&:not(:first-child) {
			margin-top: var(--content-edited-heading-interval-top);
		}

		&:not(:last-child) {
			margin-bottom: var(--content-edited-heading-interval-bottom);
		}
	}

	h1,
	.h1 {
		font-size: var(--content-edited-h1-font-size);
	}

	h2,
	.h2 {
		font-size: var(--content-edited-h2-font-size);
	}

	h3,
	.h3 {
		font-size: var(--content-edited-h3-font-size);
		color: $color-primary;
	}

	h4,
	.h4 {
		font-size: var(--content-edited-h4-font-size);
		color: $color-primary;
	}

	h5,
	.h5 {
		font-size: var(--content-edited-h5-font-size);
		color: $color-primary;
	}

	h6,
	.h6 {
		font-size: var(--content-edited-h6-font-size);
	}

	// stylelint-disable
	p,
	ul, ol, li,
	dl, dt, dd {
	// stylelint-enable
		&:not(:first-child) {
			margin-top: var(--content-edited-interval);
		}

		&:not(:last-child) {
			margin-bottom: var(--content-edited-interval);
		}
	}

	a[href]:not([href^="tel:"]) {
		color: $color-primary;
		transition: color;
		transition-duration: $transition-duration;

		@include hover {
			color: $color-primary-hover;
		}
	}

	ul,
	ol {
		padding-left: var(--content-edited-list-indent);
	}

	ul {
		position: relative;
		list-style: none;

		> li::before {
			@include conic-gradient;

			content: "";
			position: absolute;
			left: 0;
			margin-top: calc((var(--content-edited-line-height) * 1em - var(--content-edited-list-marker-size)) / 2);
			border-radius: 50%;
			width: var(--content-edited-list-marker-size);
			height: var(--content-edited-list-marker-size);
		}
	}

	table {
		display: block;
		overflow: auto;

		tbody {
			display: table;
			border-collapse: collapse;
		}

		tr:first-child :is(th, td) {
			padding-top: 0;
		}

		tr:last-child :is(th, td) {
			padding-bottom: 0;
		}

		:is(th, td) {
			vertical-align: baseline;
			padding: calc(0.5 * var(--content-edited-interval)) calc(0.5 * var(--gap));
		}

		:is(th, td):first-child {
			padding-left: 0;
		}

		:is(th, td):last-child {
			padding-right: 0;
		}

		td:first-child {
			color: $color-gray;
		}
	}

	img:not(.video *) {
		display: block;
		width: 100%;
		max-width: none;
	}

	blockquote {
		position: relative;
		padding-left: var(--content-edited-list-indent);
		font-family: $heading-font-family;
		font-weight: 500;
		font-size: em(24);
		line-height: 1.2;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 8rem;
			border-left: 1px solid;
			height: min(55rem, 100%);
		}
	}

	@include media-breakpoint-down(lg) {
		img:not(.video *) {
			margin-right: calc(-1 * var(--container-content-offset-x));
			margin-left: calc(-1 * var(--container-content-offset-x));
			width: var(--body-width);
		}

		blockquote {
			font-size: em(18);
		}
	}
}
